.VerticalSection, body.Shift, body.Sports, body.Tech, body.Politics {
background: url(http://buzzfeed.com/static/images/public/verticals/noise.png?v=201312161302);
}

.PageContainer {
width: 1020px;
background: #fff;
margin: 0 auto;
padding: 0 15px;
background-color: #FFF;
position: relative;
}
.c {
clear: both;
float: none;
}

.section {
float: left;
width: 100%;
margin-bottom: 15px;
}

.PageContent {

background: #fff;
}
.PageContent {
margin-top: 20px;
}
.Content {
float: left;
width: 625px;
margin-top: 5px;
margin-right: 25px;
display: inline;
}
.Page {
position: relative;
margin: 0 auto;
}
.buzz.bf_dom {
margin-bottom: 0;
}
.buzz {
float: left;

}
.no-border {
background: 0 !important;
}
.PermalinkPage .post2 {
padding-bottom: 0;
}
.post2 {
position: relative;
list-style: none;
}
.post2 #post-title {
clear: left;
color: #333333;
font-family: "ProximaNovaSemibold",Helvetica,Arial,sans-serif;
font-size: 36px;
font-weight: normal;
line-height: 38px;
margin: 10px 0;
text-transform: none;
letter-spacing: normal;
}
.post2 p.description {
font-size: 17px;
line-height: 23px;
color: #333;
font-family: "ProximaNovaRegular",Helvetica, Arial, sans-serif;
margin: 0px 0px 11px 0px;
}
.post2 p.description b, .post2 p.description strong {
font-family: "ProximaNovaSemibold", Helvetica, Arial, sans-serif;
font-weight: normal;
}
.description span.buzz_datetime {
display: block;
margin-top: 4px;
font-family: Arial,Helvetica,sans-serif;
text-transform: none;
letter-spacing: -.02em;
padding-left: 0px;
font-weight: normal;
font-size: 10px;
color: #999;
}

.container>.navbar-header {
margin-left: 85px;
}

.navbar-nav.navbar-right:last-child {
margin-right: 45px;
}
.post2 .user-bg {
margin: 2px 0px 20px 0px;
}
.post2 .meta {
overflow: hidden;
font-family: Arial,Helvetica,sans-serif;
}
.post2 .user-info {
border: none;
margin: 0px 30px 5px 0px;
padding-top: 0px;
float: left;
}
.post2 .user-info a.user-avatar {
clear: none;
float: left;
margin-right: 5px;
height: 35px;
width: 35px;
}
.post2 .user-info a.user-avatar img {
height: 35px;
width: 35px;
}
.post2 .user-info .user-info-info {
float: left;
}
.post2 .meta .user-name {
font-size: 14px;
font-weight: bold;
}
.post2 .user-info .user-name {
overflow: hidden;
line-height: 21px;
}
.post2 .meta .author_title {
font-size: 12px;
color: #727272;
}
.post2 .user-info .author_title {
display: block;
width: 160px;
line-height: 12px;
}
.horizontal-share-buttons.blue-bg {
background-color: #f5fcfe;
}
.horizontal-share-buttons {
border-top: 1px solid #dbdbdb;
border-bottom: 1px solid #dbdbdb;
padding: 8px 0px 0px 8px;
}
#buzz_sub_buzz {
font-family: Arial, Helvetica, sans-serif;
}
#buzz_sub_buzz .buzz_superlist_item {
clear: both;
position: relative;
padding: 20px 0px 20px 0px;
margin: 0;
}
#buzz_sub_buzz .buzz_superlist_item .sub_buzz_content {
padding: 0 0 3px 0;
position: relative;
line-height: 0;
}
.bottom_shares {
padding: 25px 0;
width: 625px;
margin-bottom: 20px;
}
.bottom-share-buttons {
height: 0px;
}
#next_on {
margin: 10px auto;
height: 125px;
width: 625px;
overflow: hidden;
background: #F7F7F7;
clear: both;
float: none;
}
#next_on .leftPage {
position: absolute;
float: left;
width: 355px;
overflow: hidden;
}
#next_on.next_on_entertainment .vertical_title_sprite {
background-position: 2px -312px;
width: 109px;
}
#next_on .vertical_title_sprite {
background: url(http://buzzfeed.com/static/images/public/homepage/homepage-sprite.png?v=201312161302);
position: absolute;
right: 3px;
top: 3px;
z-index: 2;
display: block;
height: 30px;
}
#next_on.next_on_entertainment .rightPage {
padding-top: 5px;
}
#next_on .rightPage {
float: right;
padding: 10px 10px 10px 0;
width: 250px;
margin: 0 0 0 10px;
}
#next_on.next_on_entertainment .rightPage span {
font-size: 13px;
}
#next_on .rightPage span {
color: #7a7a7a;
font: 16px/1.1 'ProximaNovaRegular',Arial,Helvetica,sans-serif;
text-transform: uppercase;
white-space: nowrap;
}
#next_on.next_on_entertainment .rightPage span.next_arrow {
font: 17px arial,sans-serif;
}
#next_on .rightPage h3 {
font-size: 18px;
margin: 10px 0 0 0;
font: normal 21px/23px 'ProximaNovaSemibold',Helvetica,Arial,sans-serif;
color: #000;
}
#next_on .rightPage span {
color: #7a7a7a;
text-transform: uppercase;
white-space: nowrap;
}
#social-actions {
padding: 5px 0 0 0;
border-top: 1px solid #eee;
}
.section {
float: left;
width: 100%;
margin-bottom: 15px;
}
.SocialActions {
position: relative;

margin: 10px 0 10px;

}
.social-actions-hybrid .badge-voting {
width: 630px;
}
.social-actions .badge-voting {
margin-right: 10px;
margin-top: 5px;
}
.social-buttons {
float: left;
padding: 0 4px 0 0;
}
.left {
clear: none;

}
.social-actions .badge-voting #reactions-normal {
width: auto;
padding-right: 15px;
padding-bottom: 5px;
float: left;
clear: both;
margin: 10px 0;
}
.SocialActions .social-buttons h5 {
text-transform: uppercase;
font: bold 11px Arial,sans-serif;
}
h5 {
font-weight: bold!important;
font-family: Arial, Helvetica, sans-serif!important;
margin-bottom: 5px!important;
}
.social-actions .badge-voting ul {
display: inline;
}
#reactions-normal ul.reactions li {
float: left;
margin: 1px 1px 2px 0px;
display: inline-block;
}
.social-actions .badge-voting li {

padding: 0;
line-height: 9px;
}
.social-buttons li {

vertical-align: top;
}

.social-actions .badge-voting .reactions_one li a {
display: inline-block;
white-space: nowrap;
border-bottom: 1px solid #b2b382;
border-right: 1px solid #d9d9a0;

font: 13px/22px 'ProximaNovaBold', Arial, Helvetica, sans-serif;
color: #222;
text-align: center;
text-transform: uppercase;
background: #FE0;
border-radius: 3px;
margin: 1px 5px 0 0;
letter-spacing: 0px;
}
.social-actions-hybrid .badge-voting li a {

width: auto!important;
}
.social-actions .reactions_one li a.vote-love_or_hate span.heart, .social-actions .reactions_two li a.vote-love_or_hate span.heart, .social-actions .reaction_control_heart li a.vote-love_or_hate span.heart {
display: block;
width: 19px;
height: 16px;
background: url(http://buzzfeed.com/static/images/public/social/lovehate-16_no_bg.png?v=201312161302);
}
.badge-vote-count {
display: block;
text-align: center;
font: bold 12px arial,sans-serif;
padding-top: 4px;
color: #888;
}
.social-actions .badge-voting .reactions_one li a {
display: inline-block;
white-space: nowrap;
border-bottom: 1px solid #b2b382;
border-right: 1px solid #d9d9a0;
padding: 2px 9px 1px !important;
font: 13px/22px 'ProximaNovaBold', Arial, Helvetica, sans-serif;
color: #222;
text-align: center;
text-transform: uppercase;
background: #FE0;
border-radius: 3px;
margin: 1px 5px 0 0;
letter-spacing: 0px;
}
.social-actions-hybrid .badge-voting li a {

width: auto!important;
}
.social-actions .reactions_one li.hate a.vote-love_or_hate span.heart, .social-actions .reactions_two li.hate a.vote-love_or_hate span.heart, .social-actions .reaction_control_heart li.hate a.vote-love_or_hate span.heart {
background-position: -19px 0px;
}
.social-actions .reactions_one li a.vote-love_or_hate span.heart, .social-actions .reactions_two li a.vote-love_or_hate span.heart, .social-actions .reaction_control_heart li a.vote-love_or_hate span.heart {
display: block;
width: 19px;
height: 16px;
background: url(http://buzzfeed.com/static/images/public/social/lovehate-16_no_bg.png?v=201312161302);
}
.social-actions .reactions_one li a.vote-love_or_hate {
padding: 4px 8px 5px 8px !important;
}
.social-actions .badge-voting .reactions_one li a:hover {
color: #ffffff;
background: #07e;
}
.badge_heart li.love a:hover, .badge_heart li.hate a:hover {
background: #07e !important;
}

/* footer */
.simple-footer {
float: left;
width: 100%;
padding: 20px 0;
}
.PageFooter {
border-top: 2px solid #ccc;
background: #eee;
margin: 100px 0 20px 0;

}
.simple-footer-container {
padding: 0 30px;
}
#nav_menu_more .made-in-nyc, .simple-footer .made-in-nyc {
float: right;
}
.made-in-nyc {
width: 46px;
height: 46px;
display: inline-block;
background: url(http://buzzfeed.com/static/images/global/unified_sprite.png?v=201312161302) no-repeat -535px -497px;
}
.PageFooter ul li {
float: none;
line-height: 170%;
}
.footer-main-menu li {
font-family: 'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
font-size: 16px;
text-transform: uppercase;
margin: 0 10px 10px 0;
}
.footer-main-menu li, .footer-sub-menu li {
display: inline-block;
}
.PageFooter ul li {
float: none;
line-height: 170%;
}
.footer-sub-menu li {
font-family: 'ProximaNovaRegular', Helvetica, Arial, sans-serif;
color: #999;
font-size: 13px;
margin: 0 10px 0 0;
}
.footer-sub-menu li a {
color: #666;
}


/* column2 */
.PermalinkPage .Column2 {
padding-top: 0;
}
.TwoColumns .Column2 {
float: right;
width: 336px;

}
.Column2 .section, .Column2 .featured_section.dfp_bigstory {
padding: 0px;
width: 336px;
margin-bottom: 0;
}
.Column2 .section {
float: left;

background: #fff;
}
.vertical-info-banner {
position: relative !important;
float: left;
background: #000;
color: #fff;

padding: 2px 0px 2px 5px;
margin: 0px 0px 20px 0px;
font-size: 17px;
font-family: ProximaNovaSemiBold, Arial, Helvetica, sans-serif;
}
.vertical-info-banner, .vertical-info-banner .text, .BF_WIDGET.SI_Widget .vertical-info-banner, .vertical-info-banner .text {
width: 331px;
}
.vertical-info-banner .text {
position: relative;
display: block;
z-index: 10;
white-space: nowrap;
overflow-x: hidden;
text-overflow: ellipsis;
}
.vertical-info-banner, .vertical-info-banner .text, .BF_WIDGET.SI_Widget .vertical-info-banner, .vertical-info-banner .text {
width: 335px;
}
.vertical-info-banner .notch {
position: absolute !important;
bottom: -8px;
left: 0;
margin: 0;
border-top: 10px solid #000;
border-left: 10px solid #000;
border-right: 10px solid transparent;
border-bottom: 10px solid transparent;
padding: 0;
width: 0;
height: 0;
font-size: 0;
line-height: 0;
_border-right-color: #000;
_border-left-color: #000;
_filter: chroma(color=#000);
}
.content {
padding-top: 1px;
}
.post {
position: relative;
float: left;
xxxbackground: url(../images/global/lines/ccc.png?v=201312161302) top left repeat-x;
ie6: ;
display: inline;
}
.sidebar-post {
margin-bottom: 25px;
}
.Content .post .thumb-unit, .post .thumb {
position: relative;
float: left;
}
.sidebar-post-wide img {
width: 336px;
height: 119px;
margin-bottom: 7px;
}
li:first-child .editor-admin {
top: 10px;
}
.qe {
position: absolute;
left: 0px;

visibility: hidden;
width: 16px;
height: 16px;
overflow: hidden;
background: url(../images/public/icons/admin.png?v=201312161302);
cursor: pointer;
}
.sidebar-post h2 {
font: normal 19px/21px "ProximaNovaSemibold",Helvetica,Arial,sans-serif !important;
display: inline-block;
}
.Column2 .post h2 a {
color: #07e;
}

.PageContainer .Column2 {
margin-left: 30px;
}


#related-links {
position: relative;
}
.related-links-full {
clear: both;
display: block;
float: none;
width: 100%;
padding-top: 1px !important;
margin-bottom: 10px;
background: url(http://s3-ak.buzzfed.com/static/images/global/lines/aaa.png?v=201312181508) 0 0 repeat-x;
}
.related-links-full h2 {
padding-bottom: 3px;
text-transform: uppercase;
font-family: arial,helvetica,sans-serif;
margin-top: 10px;
font-size: 12px;
font-weight: bold;
}



.box_gray {
background: #F5F5F5;
}

.box {

padding: 0 10px;
margin: 0 0 20px 0;

}


#replies .total {
padding: 0 10px 6px 10px;
border-bottom: 1px solid #DDD;
color: #999;
margin: 0 -10px;
}

#replies .reply {
border-bottom: 1px solid #DDD;
padding: 8px 0px;
margin: 0 -10px;
background: #FFF;
}
#replies .reply .face {
padding-right: 8px;
width: 48px;
margin-left: 0;
}

.pull-left {
float: left;
}

#replies .reply .infos {
padding-left: 58px;
}
#replies .reply .info {
font-size: 12px;
color: #bbb;
height: 20px;
}
#replies .reply .info {
font-size: 12px;
color: #bbb;
}
#replies .reply .info .name a {
color: #888;
text-decoration: none;
font-weight: bold;
margin-right: 8px;
}
#replies .reply .info {
font-size: 12px;
color: #bbb;
}
#replies .reply .info .time a.reply-floor {
margin-right: 0;
color: #bbb;
text-decoration: none;
}
abbr[title] {
border: 0;
cursor: default;
}

abbr[title] {
border-bottom: 1px dotted #ddd;

}
#replies .reply .info .opts {
float: right;
text-align: right;
}
#replies .reply .info .opts a {
margin-left: 5px;
}

#replies .reply .info a:link, #replies .reply .info a:visited {
color: #999;
}
#replies .reply .info .opts i.icon {
margin-bottom: -1px;
}
16167media="screen"
.icon {
display: inline-block;
transition-property: background-position;
transition-duration: 0.5s;
-moz-transition-property: background-position;
-moz-transition-duration: 0.5s;
-webkit-transition-property: background-position;
-webkit-transition-duration: 0.5s;
}
16167media="screen"
.small_like {

width: 12px;
height: 12px;
background: url("http://l.ruby-china.org/assets/sprites/small-de663733ce4361181155e442bdc62299.png") 0px -120px no-repeat;
}
#replies .reply .info a:link, #replies .reply .info a:visited {
color: #999;
}
#replies .reply .info a.edit {
display: none;
}

#replies .reply .info .opts a {
margin-left: 5px;
}

#replies .reply .info a:link, #replies .reply .info a:visited {
color: #999;
}

#replies .reply .info a:link, #replies .reply .info a:visited {
color: #999;
}

.icon {

transition-property: background-position;
transition-duration: 0.5s;
-moz-transition-property: background-position;
-moz-transition-duration: 0.5s;
-webkit-transition-property: background-position;
-webkit-transition-duration: 0.5s;
}

.small_edit {

width: 12px;
height: 12px;
background: url("http://l.ruby-china.org/assets/sprites/small-de663733ce4361181155e442bdc62299.png") 0px -72px no-repeat;
}
#replies .reply .info .opts a {
margin-left: 5px;
}
16167media="screen"
#replies .reply .info a:link, #replies .reply .info a:visited {
color: #999;
}
16167media="screen"
#replies .reply .info a:link, #replies .reply .info a:visited {
color: #999;
}
16167media="screen"
.icon {
display: inline-block;
transition-property: background-position;
transition-duration: 0.5s;
-moz-transition-property: background-position;
-moz-transition-duration: 0.5s;
-webkit-transition-property: background-position;
-webkit-transition-duration: 0.5s;
}
16167media="screen"
.small_reply {

width: 12px;
height: 12px;
background: url("http://l.ruby-china.org/assets/sprites/small-de663733ce4361181155e442bdc62299.png") 0px -168px no-repeat;
}
.topics .topic .body, #replies .reply .body, .markdown_body {
position: relative;
line-height: 1.8em;
font-size: 14px;
text-overflow: ellipsis;
word-wrap: break-word;
}

#replies .reply .body {
text-align: left;
margin-top: 5px;
}
.topics .topic .body p:last-of-type, #replies .reply .body p:last-of-type, .markdown_body p:last-of-type {
margin-bottom: 0;
}

.topics .topic .body p, #replies .reply .body p, .markdown_body p {
font-size: 14px;

line-height: 1.6em;
}

p {
margin: 0 0 9px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
#replies .total {
padding: 0 10px 6px 10px;
border-bottom: 1px solid #DDD;
color: #999;
margin: 0 -10px;
}



