{% extends 'snippet/layout.html' %}

{% block main %}
<div class="col-xs-12 col-md-8">
  <div class="Column1 section bf_dom">
    <div class="section">
      <div class="content">

        <div id="qp_superlist" class="suplist_image_width_off  old-source has_drag_drop suplist_list_none suplist_post_width_standard" style="">

          <div id="suplist_left_post_controls" style="min-height: 473px;">

            <div id="suplist_heading" class="c">

              <h1 class="qp_create">新建文章</h1>

            </div>

            <div class="c qp_std_promo" id="suplist_promo">

              <div class="qp_std_promo_fields">

                <fieldset>

                  <div class="qp_input has_autocap">
                    <input data-placeholder="Headline" type="text" id="quickpost-title" tabindex="1" class="qp_text autocap autocap_on autocap_status_headline bf_dom" placeholder="标题" title="" alt=""></div>
                </fieldset>

                <fieldset>
                  <div class="qp_input">
                    <textarea data-placeholder="Description" class="qp bf_dom" tabindex="2" id="quickpost-description" placeholder="简介" title=""></textarea>
                  </div>

                </fieldset>
              </div>

            </div>

            <div class="thumbnail-chooser suplist_options_top_row">
              <h5>
                <label>文章缩略图</label>
              </h5>

              <div class="image-upload-fields suplist_image_show_upload bf_dom c" id="suplist_upload_fields">
                <div class="suplist_thumb_container">
                  <div class="suplist-thumb-reg suplist_image_box bf_dom">
                    <img width="16" height="16" src="http://s3-ak.buzzfed.com/static/images/public/spinners/small_on_e6e6e6.gif" id="user-loading" class="bf_dom image_loading" style="display: none;">
                    <img id="image-preview" class="qp_std_promo_fields suplist-thumb-img" style="display:none"></div>
                </div>

                <div class="suplist_thumb_container">
                  <div class="suplist-thumb-wide suplist_image_box bf_dom">
                    <img width="16" height="16" src="http://s3-ak.buzzfed.com/static/images/public/spinners/small_on_e6e6e6.gif" class="bf_dom image_loading" style="display: none;">
                    <img id="image-preview-wide" class="qp_std_promo_fields suplist-thumb-img" style="display:none"></div>
                </div>

                <div class="suplist_image_buttons">

                  <div>
                    <div class="c suplist_module_image_uploader_wrapper bf_dropdown">
                      <div class="suplist_module_image_uploader" style="height: 20px;">

                        <div id="suplist_module_thumb_uploader" class="suplist_module_image_uploader_computer bf_button bf_button_left" style="position: relative; overflow: hidden; direction: ltr;">
                          <span>上传图片</span>
                          <input type="file" name="file" class="file_mask" style="position: absolute; right: 0px; top: 0px; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0; width: 100%; height: 100%;"></div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="c qp_std_promo" id="suplist_promo">

              <div class="qp_std_promo_fields">

                <fieldset>
                  <div class="qp_input">
                    <textarea data-placeholder="content" class="qp ca bf_dom" tabindex="2" id="quickpost-description" placeholder="内容" title=""></textarea>
                  </div>

                </fieldset>
              </div>

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}