<!DOCTYPE html>
<html>
<head>
  <title>米饭</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">

  <!-- mifan css -->
  <link rel="stylesheet" href="/static/css/mifan.css">
  <link rel="stylesheet" href="/static/css/navbar.css">
  <link rel="stylesheet" href="/static/css/index.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <header class="navbar navbar-inverse mf-nav" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="../" class="navbar-brand"></a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li>
            <a href="../getting-started">新闻</a>
          </li>
          <li>
            <a href="../css">娱乐</a>
          </li>
          <li>
            <a href="../components">生活</a>
          </li>
          <li>
            <a href="../javascript">视频</a>
          </li>
          <li>
            <a href="../customize">更多</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="../about">登入</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="mf-header" id="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div id="splash_01" class="overlay-style no-touch">
            <div class="featured-splash">
              <a id="splash-link" href="/p/{{ head1[0].id }}">
                <div id="splash-container">
                  <img id="splash-image" src="{{ head1[0].cover }}" alt="">
                  <div class="top right splash-overlay" id="splash-overlay">
                    <div class="label">伟大的失望</div>
                    <div class="title dark-text-on-light-image" style="font-size: 36px; line-height: 36px;">
                      <div class="splash-desc">{{ head1[0].title }}</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="splash_dfp_story" id="splash_big_story">

            <a href="/p/{{ head2[0].id }}" class="bf-url">
              <img class="flex-wide-thumb bf-image-bigstory campaign-wide-thumb" src="{{ head2[0].cover }}" width="300" height="106"></a>
            <h2 class="bf-item-title">
              <a href="/p/{{ head2[0].id }}" class="bf-url bf-name">{{ head2[0].title }}</a>
            </h2>

            <div class="big-meta">
              <div class="bf-user-info user-info">
                <a href="#" class="bf-user-url">
                  <img class="bf-user_image_large" src="http://s3-ak.buzzfed.com/static/2013-11/user_images/webdr01/5/15/akwarren2-2114-1383683457-33_large.jpg" width="35" height="35"></a>
                <div class="label bf-byline_prefix">PRESENTED BY</div>
                <div class="username">
                  <a rel:gt_act="dfp/username" href="#" class="bf-user-url bf-display_name">第一资本水银</a>
                </div>
              </div>
            </div>
            <div class="bf-partner-label2">FEATURED合作伙伴</div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="homepage-columns">
    <div class="left-column-group bf_dom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="Column1 section bf_dom">
              <div class="section">
                <div class="content">
                  <ul class="std-posts" id="page_flow">
                    {% for std in stds.list %}
                    <li id="post-{{ std.id }}" class=" post track bf_dom first  has-like-button bf_cts-1-1 bf_cts  scrolled_past">
                      <article>
                        <header>
                          <div class="thumb-unit bf_dom">
                            <a href="/p/{{ std.id }}">
                              <div style="position:relative;">
                                <img class="thumb bf_dom " style="" src="{{ std.cover }}" width="125" height="83" alt=""></div>
                            </a>
                          </div>
                          <hgroup>
                            <h2 class="" style="">
                              <a href="/p/{{ std.id }}">{{ std.title }}</a>
                            </h2>
                          </hgroup>
                        </header>
                        <p class="description " style=""> <b>{{ std.intro }}</b>
                        </p>
                        <p class="small-meta">
                          <span class="generic-image icon"></span>
                          <a class="username notranslate" href="#">{{ std.author_username }}</a>
                          <span class="time-image icon"></span>
                          <span class="time-ago">{{ std.created|pretty_date }}</span>
                          <a href="#" class="responses">
                            <span class="response-image icon"></span>
                            <span class="num">{{ std.comment_count }}</span>
                            回应
                          </a>
                        </p>
                      </article>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="Column2 section bf_dom ">
              <div class="section sidebar_featured_unified">
                <div id="big_stories_header" class="header">
                  <h1> <font><font class="">热门新闻</font></font> 
                  </h1>
                </div>
                <ul id="big_stories_container">
                  {% for hot in hots.list %}
                  <li class="small-posts pinned bf_dom">
                    <div class="bf_dom bf_cts-5-1 bf_cts">
                      <a href="/p/{{ hot.id }}">
                        <img class="bf_dom pinned-image" src="{{ hot.cover }}" alt="{{ hot.title }}"></a>
                      <h3>
                        <a href="/p/{{ hot.id }}">
                          <span>
                            <font><font>{{ hot.title }}</font></font> 
                          </span>
                        </a>
                      </h3>
                    </div>
                    <p class="small-meta">
                      <span class="generic-image icon"></span>
                      <a class="username notranslate" href="#">{{ hot.author_username }}</a>
                      <span class="time-image icon"></span>
                      <span class="time-ago">
                        <font>
                          <font>{{ hot.created|pretty_date }}</font>
                        </font>
                      </span>
                      <a href="#" class="responses">
                        <span class="response-image icon"></span>
                        <span class="num">
                          <font>
                            <font>{{ hot.comment_count }}</font>
                          </font>
                        </span>
                        <font>
                          <font>回应</font>
                        </font>
                      </a>
                    </p>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-2">
            <div class="Column3 section bf_dom">
              <div class="section">
                <div class="header big-header">
                  <h1>
                    <span style="color:#fe4e5b;font-size:18px;">
                      <font>
                        <font>网络速递</font>
                      </font>
                    </span>
                  </h1>
                  <div class="notch"></div>
                </div>

                <div class="hp-fresh-post-list">

                  <a href="http://fre.sh/h/Z7lUxx2rs1" class="hp-fresh-post has_image">
                    <img class="thumb" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/crondr01/11/16/17-things-that-happen-when-youve-been-friends-w-1-16420-1386799047-79_wide.jpg">
                    <h2>
                      <font>
                        <font>17发生的事情，当你是朋友与他人的，从字面上看，自从</font>
                      </font>
                      <span class="more-link">
                        <font>
                          <font>上thoughtcatalog.com&gt;</font>
                        </font>
                      </span>
                    </h2>
                  </a>

                  <a href="http://fre.sh/h/01A6F4h5hT" class="hp-fresh-post no_image" rel:gt_act="post/title" rel:gt_label="partner/http://teamcoco.com/video/ice-cube-kevin-hart-conan-share-lyft">

                    <h2>
                      <font>
                        <font>冰块，凯文·哈特，和柯南股A Lyft Car@TeamCoco.com</font>
                      </font>
                      <span class="more-link">
                        <font>
                          <font>上teamcoco.com&gt;</font>
                        </font>
                      </span>
                    </h2>
                  </a>

                  <a href="http://fre.sh/h/XssVkiO_bj" class="hp-fresh-post has_image" rel:gt_act="post/title" rel:gt_label="partner/http://www.collegehumor.com/article/6943815/6-super-hot-sex-moves-from-pg-13-movies">
                    <img class="thumb" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/crondr01/11/20/6-super-hot-sex-moves-from-pg-13-movies-1-2563-1386810524-263_wide.jpg">
                    <h2>
                      <font>
                        <font>6超热性移动从PG-13级电影</font>
                      </font>
                      <span class="more-link">
                        <font>
                          <font>的collegehumor.com&gt;</font>
                        </font>
                      </span>
                    </h2>
                  </a>

                  <a href="http://fre.sh/h/dnzHeL2fJi" class="hp-fresh-post has_image" rel:gt_act="post/title" rel:gt_label="partner/http://www.theonion.com/articles/gun-laws-passed-this-year,34806/">
                    <img class="thumb" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/crondr01/11/20/gun-laws-passed-this-year-1-2563-1386810272-208_wide.jpg">
                    <h2>
                      <font>
                        <font>今年通过枪支法</font>
                      </font>
                      <span class="more-link">
                        <font>
                          <font>上theonion.com&gt;</font>
                        </font>
                      </span>
                    </h2>
                  </a>

                  <a href="http://fre.sh/h/k8kcGwsMgm" class="hp-fresh-post has_image" rel:gt_act="post/title" rel:gt_label="partner/http://thoughtcatalog.com/abigail-cardinal/2013/12/26-signs-youve-lived-in-madison-wisconsin/">
                    <img class="thumb" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/crondr01/11/21/26-signs-youve-lived-in-madison-wisconsin-1-15276-1386817036-73_wide.jpg">
                    <h2>
                      <font>
                        <font>26标志你住在威斯康星州麦迪逊市</font>
                      </font>
                      <span class="more-link">
                        <font>
                          <font>的thoughtcatalog.com&gt;</font>
                        </font>
                      </span>
                    </h2>
                  </a>

                  <a href="http://fre.sh/h/YNRQqbKLSJ" class="hp-fresh-post has_image" rel:gt_act="post/title" rel:gt_label="partner/http://hollywoodlife.com/2013/12/11/jamie-dornan-naked-fifty-shades-of-grey-full-frontal/">
                    <img class="thumb" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/crondr01/11/22/jamie-dornan-naked-in-fifty-shades-of-grey-mdas-1-21709-1386820505-35_wide.jpg">
                    <h2>
                      <font>
                        <font>杰米·多南裸体在“五十深浅灰色' -全正面基督教</font>
                      </font>
                      <span class="more-link">
                        <font>
                          <font>的hollywoodlife.com&gt;</font>
                        </font>
                      </span>
                    </h2>
                  </a>

                  <a href="http://fre.sh/h/LT2Rji5W0m" class="hp-fresh-post has_image" rel:gt_act="post/title" rel:gt_label="partner/http://thoughtcatalog.com/chelsea-fagan/2013/12/24-rules-for-being-a-lady-in-2014/">
                    <img class="thumb" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/crondr01/11/15/24-rules-for-being-a-lady-in-2014-1-9985-1386795408-79_wide.jpg">
                    <h2>
                      <font>
                        <font>24规则，作为一个夫人2014年</font>
                      </font>
                      <span class="more-link">
                        <font>
                          <font>在thoughtcatalog.com&gt;</font>
                        </font>
                      </span>
                    </h2>
                  </a>

                  <a href="http://fre.sh/h/gRt4X8JUsJ" class="hp-fresh-post no_image" rel:gt_act="post/title" rel:gt_label="partner/http://thinkprogress.org/security/2013/12/11/3036671/2013-certainly-year-human-history/">

                    <h2>
                      <font>
                        <font>5原因2013年是最好的年份在人类历史</font>
                      </font>
                      <span class="more-link">
                        <font>
                          <font>上thinkprogress.org&gt;</font>
                        </font>
                      </span>
                    </h2>
                  </a>

                  <a href="http://fre.sh/h/AGkZ8m6V6i" class="hp-fresh-post has_image" rel:gt_act="post/title" rel:gt_label="partner/http://www.theonion.com/articles/do-you-believe-in-god,34800/">
                    <img class="thumb" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/crondr01/11/12/do-you-believe-in-god-1-16485-1386784775-94_wide.jpg">
                    <h2>
                      <font>
                        <font>你相信神？</font>
                      </font>
                      <span class="more-link">
                        <font>
                          <font>上theonion.com&gt;</font>
                        </font>
                      </span>
                    </h2>
                  </a>

                  <a href="http://fre.sh/h/k_j1xDi_Y9" class="hp-fresh-post no_image" rel:gt_act="post/title" rel:gt_label="partner/http://www.people.com/people/article/0,,20764701,00.html">

                    <h2>
                      <font>
                        <font>塔耶迪格斯＆Idina门泽尔分割</font>
                      </font>
                      <span class="more-link">
                        <font>
                          <font>上people.com&gt;</font>
                        </font>
                      </span>
                    </h2>
                  </a>

                </div>

                <div class="hp-more-fresh">
                  <a href="http://fre.sh">
                    <font>
                      <font>Fre.sh</font>
                    </font>
                  </a>
                  <span>
                    <font>
                      <font>：从网络上最好的网站上升最快的故事</font>
                    </font>
                  </span>
                </div>

                <div class="block_footer">
                  <a rel:gt_act="go-to-fresh" href="http://fre.sh">
                    <font>
                      <font>退房日期Fre.sh&gt;</font>
                    </font>
                  </a>
                </div>
              </div>

              <div class="section block sidebar_top_posts hot_homepage_block hot_on_video" rel:gt_cat="[ttp]:sidebar/hotOnVideo">
                <div class="block_header">
                  <div class="hot_on">HOT on</div>
                  <div class="hot_on_video_logo"></div>
                </div>
                <div class="content hot_list">
                  <ol>

                    <li class="top bf_dom bf_cts-0-1 bf_cts" rel:bf_cts="0:1:2807897:buzz" rel:bf_bucket="track" track="{&quot;c&quot;:&quot;7BPA5C7&quot;,&quot;u&quot;:&quot;735M3G7&quot;,&quot;buzz&quot;:&quot;12-surprising-facts-about-amazoncom&quot;,&quot;user&quot;:&quot;tlo27&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}" id="promoted-2807897">
                      <div class="ie-hot-unit"></div>
                      <a rel:gt_act="post/thumb" rel:gt_label="editor/tlo27" href="/video/tlo27/12-surprising-facts-about-amazoncom" class="image-wrapper" track="{&quot;c&quot;:&quot;7BPA5C7&quot;,&quot;u&quot;:&quot;735M3G7&quot;,&quot;buzz&quot;:&quot;12-surprising-facts-about-amazoncom&quot;,&quot;user&quot;:&quot;tlo27&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}">
                        <img class="thumb bf_dom" rel:bf_bucket="progload" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr01/7/15/12-surprising-facts-about-amazoncom-1-14050-1386446951-3_wide.jpg" rel:bf_image_src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr01/7/15/12-surprising-facts-about-amazoncom-1-14050-1386446951-3_wide.jpg" width="336" height="125" alt=""></a>
                      <div class="trend">
                        <div class="video_play_icon">
                          <img class="black" src="http://s3-ak.buzzfeed.com/static/images/public/videopage/play_icon.png">
                          <img class="red" src="http://s3-ak.buzzfeed.com/static/images/public/videopage/play_icon_red.png" style="display: none; z-index: 24;"></div>
                      </div>
                      <h2>
                        <a rel:gt_act="post/title" rel:gt_label="editor/tlo27" href="/video/tlo27/12-surprising-facts-about-amazoncom" track="{&quot;c&quot;:&quot;7BPA5C7&quot;,&quot;u&quot;:&quot;735M3G7&quot;,&quot;buzz&quot;:&quot;12-surprising-facts-about-amazoncom&quot;,&quot;user&quot;:&quot;tlo27&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}">12 Surprising Facts About Amazon.com</a>
                      </h2>

                    </li>

                    <li class="bf_dom bf_cts-0-2 bf_cts" rel:bf_cts="0:2:2815956:buzz" rel:bf_bucket="track" track="{&quot;c&quot;:&quot;7BQHOD7&quot;,&quot;u&quot;:&quot;7232PH7&quot;,&quot;buzz&quot;:&quot;are-you-right-or-left-brained&quot;,&quot;user&quot;:&quot;micaela&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}" id="promoted-2815956">
                      <div class="ie-hot-unit"></div>
                      <a rel:gt_act="post/thumb" rel:gt_label="editor/micaela" href="/video/micaela/are-you-right-or-left-brained" class="image-wrapper" track="{&quot;c&quot;:&quot;7BQHOD7&quot;,&quot;u&quot;:&quot;7232PH7&quot;,&quot;buzz&quot;:&quot;are-you-right-or-left-brained&quot;,&quot;user&quot;:&quot;micaela&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}">
                        <img class="thumb bf_dom" rel:bf_bucket="progload" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr07/10/14/are-you-right-or-left-brained-1-26858-1386704639-23_wide.jpg" rel:bf_image_src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr07/10/14/are-you-right-or-left-brained-1-26858-1386704639-23_wide.jpg" width="336" height="125" alt=""></a>
                      <div class="trend">
                        <div class="video_play_icon">
                          <img class="black" src="http://s3-ak.buzzfeed.com/static/images/public/videopage/play_icon.png">
                          <img class="red" src="http://s3-ak.buzzfeed.com/static/images/public/videopage/play_icon_red.png" style="display: none; z-index: 24;"></div>
                      </div>
                      <h2>
                        <a rel:gt_act="post/title" rel:gt_label="editor/micaela" href="/video/micaela/are-you-right-or-left-brained" track="{&quot;c&quot;:&quot;7BQHOD7&quot;,&quot;u&quot;:&quot;7232PH7&quot;,&quot;buzz&quot;:&quot;are-you-right-or-left-brained&quot;,&quot;user&quot;:&quot;micaela&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}">Are You Right-Brained Or Left-Brained?</a>
                      </h2>

                    </li>

                    <li class="bf_dom bf_cts-0-3 bf_cts" rel:bf_cts="0:3:2813624:buzz" rel:bf_bucket="track" track="{&quot;c&quot;:&quot;7BQ52X7&quot;,&quot;u&quot;:&quot;72XB7A7&quot;,&quot;buzz&quot;:&quot;7-things-we-wish-dad-would-stop-doing&quot;,&quot;user&quot;:&quot;bobbymiller&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}" id="promoted-2813624">
                      <div class="ie-hot-unit"></div>
                      <a rel:gt_act="post/thumb" rel:gt_label="editor/bobbymiller" href="/video/bobbymiller/7-things-we-wish-dad-would-stop-doing" class="image-wrapper" track="{&quot;c&quot;:&quot;7BQ52X7&quot;,&quot;u&quot;:&quot;72XB7A7&quot;,&quot;buzz&quot;:&quot;7-things-we-wish-dad-would-stop-doing&quot;,&quot;user&quot;:&quot;bobbymiller&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}">
                        <img class="thumb bf_dom" rel:bf_bucket="progload" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr07/10/13/7-things-we-wish-dad-would-stop-doing-1-18190-1386700219-5_wide.jpg" rel:bf_image_src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr07/10/13/7-things-we-wish-dad-would-stop-doing-1-18190-1386700219-5_wide.jpg" width="336" height="125" alt=""></a>
                      <div class="trend">
                        <div class="video_play_icon">
                          <img class="black" src="http://s3-ak.buzzfeed.com/static/images/public/videopage/play_icon.png">
                          <img class="red" src="http://s3-ak.buzzfeed.com/static/images/public/videopage/play_icon_red.png" style="display: none; z-index: 24;"></div>
                      </div>
                      <h2>
                        <a rel:gt_act="post/title" rel:gt_label="editor/bobbymiller" href="/video/bobbymiller/7-things-we-wish-dad-would-stop-doing" track="{&quot;c&quot;:&quot;7BQ52X7&quot;,&quot;u&quot;:&quot;72XB7A7&quot;,&quot;buzz&quot;:&quot;7-things-we-wish-dad-would-stop-doing&quot;,&quot;user&quot;:&quot;bobbymiller&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}">7 Things We Wish Dad Would Stop Doing</a>
                      </h2>

                    </li>

                  </ol>
                </div>

                <div class="block_footer">
                  <a rel:gt_act="hot-on-videos" href="/video">More Videos ›</a>
                </div>

              </div>

              <footer class="PageFooter footer" rel:gt_cat="[ttp]:footer">

                <ul class="footer-main-menu sidebar-footer-main-menu">
                  <li>
                    <a rel:gt_act="advertise" href="/advertise">
                      <font>
                        <font>广告</font>
                      </font>
                    </a>
                  </li>
                  <li>
                    <a rel:gt_act="jobs" href="/about/jobs">
                      <font>
                        <font>工作机会</font>
                      </font>
                    </a>
                  </li>
                  <li>
                    <a rel:gt_act="mobile" href="/tools/mobile-ios">
                      <font>
                        <font>移动</font>
                      </font>
                    </a>
                  </li>
                  <li>
                    <a rel:gt_act="newsletters" href="/tools/email">
                      <font>
                        <font>简讯</font>
                      </font>
                    </a>
                  </li>
                </ul>

                <div class="country_switch country-toggle bf_dom" rel:bf_bucket_data="{'country_switch_menu':{}}">
                  <font>
                    <font>美国版</font>
                  </font>
                  <span class="unicode">
                    <font>
                      <font>▼</font>
                    </font>
                  </span>
                  <div class="country_switch_menu country-toggle-menu" style="display:none;">
                    <a class="bf_dom" rel:bf_bucket_data="{'country_switch':{ 'r': '/?country=us' }}">
                      <font>
                        <font>美国版</font>
                      </font>
                    </a>
                    <a class="bf_dom" rel:bf_bucket_data="{'country_switch':{ 'r': '/?country=uk' }}">
                      <font>
                        <font>英国版</font>
                      </font>
                    </a>
                    <a class="bf_dom" rel:bf_bucket_data="{'country_switch':{ 'r': '/?country=br' }}">
                      <font>
                        <font>巴西</font>
                      </font>
                    </a>
                    <a class="bf_dom" rel:bf_bucket_data="{'country_switch':{ 'r': '/?country=es' }}">
                      <font>
                        <font>西班牙语</font>
                      </font>
                    </a>
                    <a class="bf_dom" rel:bf_bucket_data="{'country_switch':{ 'r': '/?country=fr' }}">
                      <font>
                        <font>法国</font>
                      </font>
                    </a>
                  </div>
                </div>

                <ul class="footer-sub-menu sidebar-footer-sub-menu">
                  <li class="sub-menu-top">
                    <a rel:gt_act="about" href="/about">
                      <font>
                        <font>关于</font>
                      </font>
                    </a>
                  </li>
                  <li>
                    <a rel:gt_act="press" href="/press">
                      <font>
                        <font>按</font>
                      </font>
                    </a>
                  </li>
                  <li>
                    <a rel:gt_act="rss" href="/tools/more">
                      <font>
                        <font>RSS</font>
                      </font>
                    </a>
                  </li>
                  <li>
                    <a rel:gt_act="privacy" href="/about/privacy">
                      <font>
                        <font>法律</font>
                      </font>
                    </a>
                  </li>
                  <li>
                    <a rel:gt_act="faq" href="/help/faq">
                      <font>
                        <font>帮助</font>
                      </font>
                    </a>
                  </li>
                  <li>
                    <a rel:gt_act="contact" href="/about/contact">
                      <font>
                        <font>联系</font>
                      </font>
                    </a>
                  </li>
                </ul>

                <div class="footer-copyright">
                  <div class="footer-copyright-text">
                    <font>
                      <font>©2013 BuzzFeed，公司</font>
                    </font>
                  </div>
                  <a rel:gt_act="made-in-nyc" class="made-in-nyc" href="http://wearemadeinny.com/"></a>
                </div>

                <!--  --> </footer>

            </div>

          </div>

        </div>
      </div>
    </div>

  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>