<!DOCTYPE html>
<html>
<head>
  <title>米饭</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">

  <!-- mifan css -->
  <link rel="stylesheet" href="/static/css/mifan.css">
  <link rel="stylesheet" href="/static/css/navbar.css">
  <link rel="stylesheet" href="/static/css/index.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <header class="navbar navbar-inverse mf-nav" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="../" class="navbar-brand"></a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li>
            <a href="../getting-started">新闻</a>
          </li>
          <li>
            <a href="../css">娱乐</a>
          </li>
          <li>
            <a href="../components">生活</a>
          </li>
          <li>
            <a href="../javascript">视频</a>
          </li>
          <li>
            <a href="../customize">更多</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="../about">登入</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="homepage-columns">
    <div class="left-column-group bf_dom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8">
            <div class="Column1 section bf_dom">
              <div class="section">
                <div class="content">
                  <ul class="std-posts" id="page_flow">
                    {% for std in stds.list %}
                    <li id="post-{{ std.id }}" class=" post track bf_dom first  has-like-button bf_cts-1-1 bf_cts  scrolled_past">
                      <article>
                        <header>
                          <div class="thumb-unit bf_dom">
                            <a href="/p/{{ std.id }}">
                              <div style="position:relative;">
                                <img class="thumb bf_dom " style="" src="{{ std.cover }}" width="125" height="83" alt=""></div>
                            </a>
                          </div>
                          <hgroup>
                            <h2 class="" style="">
                              <a href="/p/{{ std.id }}">{{ std.title }}</a>
                            </h2>
                          </hgroup>
                        </header>
                        <p class="description " style=""> <b>{{ std.intro }}</b>
                        </p>
                        <p class="small-meta">
                          <span class="generic-image icon"></span>
                          <a class="username notranslate" href="#">{{ std.author_username }}</a>
                          <span class="time-image icon"></span>
                          <span class="time-ago">{{ std.created|pretty_date }}</span>
                          <a href="#" class="responses">
                            <span class="response-image icon"></span>
                            <span class="num">{{ std.comment_count }}</span>
                            回应
                          </a>
                        </p>
                      </article>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="Column2 section bf_dom ">
              <div class="section sidebar_featured_unified">
                <div id="big_stories_header" class="header">
                  <h1> <font><font class="">热门新闻</font></font> 
                  </h1>
                </div>
                <ul id="big_stories_container">
                  {% for hot in hots.list %}
                  <li class="small-posts pinned bf_dom">
                    <div class="bf_dom bf_cts-5-1 bf_cts">
                      <a href="/p/{{ hot.id }}">
                        <img class="bf_dom pinned-image" src="{{ hot.cover }}" alt="{{ hot.title }}"></a>
                      <h3>
                        <a href="/p/{{ hot.id }}">
                          <span>
                            <font><font>{{ hot.title }}</font></font> 
                          </span>
                        </a>
                      </h3>
                    </div>
                    <p class="small-meta">
                      <span class="generic-image icon"></span>
                      <a class="username notranslate" href="#">{{ hot.author_username }}</a>
                      <span class="time-image icon"></span>
                      <span class="time-ago">
                        <font>
                          <font>{{ hot.created|pretty_date }}</font>
                        </font>
                      </span>
                      <a href="#" class="responses">
                        <span class="response-image icon"></span>
                        <span class="num">
                          <font>
                            <font>{{ hot.comment_count }}</font>
                          </font>
                        </span>
                        <font>
                          <font>回应</font>
                        </font>
                      </a>
                    </p>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>

        <footer class="PageFooter footer simple-footer" rel:gt_cat="[ttp]:footer">
      <div class="simple-footer-container">
        <a rel:gt_act="made-in-nyc" class="made-in-nyc" href="http://wearemadeinny.com/"></a>

        <ul class="footer-main-menu">
          <li>
            <a rel:gt_act="advertise" href="/advertise">
              <font>
                <font>广告</font>
              </font>
            </a>
          </li>
          <li>
            <a rel:gt_act="jobs" href="/about/jobs">
              <font>
                <font>工作机会</font>
              </font>
            </a>
          </li>
          <li>
            <a rel:gt_act="mobile" href="/tools/mobile-ios">
              <font>
                <font>移动</font>
              </font>
            </a>
          </li>
          <li>
            <a rel:gt_act="newsletters" href="/tools/email">
              <font>
                <font>简讯</font>
              </font>
            </a>
          </li>

        </ul>

        <ul class="footer-sub-menu">
          <li>
            <a rel:gt_act="about" href="/about">
              <font>
                <font>关于</font>
              </font>
            </a>
          </li>
          <li>
            <a rel:gt_act="press" href="/press">
              <font>
                <font>按</font>
              </font>
            </a>
          </li>
          <li>
            <a rel:gt_act="rss" href="/tools/more">
              <font>
                <font>RSS</font>
              </font>
            </a>
          </li>
          <li>
            <a rel:gt_act="privacy" href="/about/privacy">
              <font>
                <font>法律</font>
              </font>
            </a>
          </li>
          <li>
            <a rel:gt_act="faq" href="/help/faq">
              <font>
                <font>帮助</font>
              </font>
            </a>
          </li>
          <li>
            <a rel:gt_act="contact" href="/about/contact">
              <font>
                <font>联系</font>
              </font>
            </a>
          </li>
          <li>
            <font>
              <font>©2013 BuzzFeed，公司</font>
            </font>
          </li>
        </ul>
      </div>
    </footer>
      </div>
    </div>

  </div>



  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>