<!DOCTYPE html>
<html>
<head>
  <title>BuzzFeed</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">

  <!-- mifan css -->
  <link rel="stylesheet" href="/static/css/mifan.css">
  <link rel="stylesheet" href="/static/css/navbar.css">
  <link rel="stylesheet" href="/static/css/mf-header.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <header class="navbar navbar-inverse mf-nav" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="../" class="navbar-brand">BuzzFeed</a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li>
            <a href="../getting-started">新闻</a>
          </li>
          <li>
            <a href="../css">娱乐</a>
          </li>
          <li class="active">
            <a href="../components">生活</a>
          </li>
          <li>
            <a href="../javascript">视频</a>
          </li>
          <li>
            <a href="../customize">更多</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="../about">登入</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="mf-header" id="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div id="splash_01" class="overlay-style no-touch">
            <div class="featured-splash">
              <a id="splash-link" href="http://buzzfeed.com/ellievhall/the-45-most-powerful-photos-of-2013">
                <div id="splash-container">
                  <img id="splash-image" src="http://s3-ec.buzzfed.com/static/2013-12/enhanced/webdr07/11/19/enhanced-buzz-13748-1386809923-12.jpg" alt="">
                  <div class="top left splash-overlay" id="splash-overlay">
                    <div class="label">伟大的失望</div>
                    <div class="title light-text-on-dark-image" style="font-size: 36px; line-height: 36px;">
                      <div class="splash-desc">23个最大的电影和电视令人失望的2013</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="splash_dfp_story" id="splash_big_story">

            <a href="http://www.buzzfeed.com/samsunggalaxy/the-12-cats-of-chrismahanukwanzakah-lil-bub" class="bf-url">
              <img class="flex-wide-thumb bf-image-bigstory campaign-wide-thumb" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr03/4/10/the-12-cats-of-chrismahanukwanzakah-lil-bub-1-5595-1386171688-26_wide.jpg" width="300" height="106"></a>
            <h2 class="bf-item-title">
              <a href="http://www.buzzfeed.com/samsunggalaxy/the-12-cats-of-chrismahanukwanzakah-lil-bub" class="bf-url bf-name">11级的胜利舞蹈</a>
            </h2>

            <div class="big-meta">
              <div class="bf-user-info user-info">
                <a href="http://www.buzzfeed.com/samsunggalaxy" class="bf-user-url">
                  <img class="bf-user_image_large" src="http://s3-ak.buzzfed.com/static/2013-11/user_images/webdr01/5/15/akwarren2-2114-1383683457-33_large.jpg" width="35" height="35"></a>
                <div class="label bf-byline_prefix">PRESENTED BY</div>
                <div class="username">
                  <a rel:gt_act="dfp/username" href="http://www.buzzfeed.com/samsunggalaxy" class="bf-user-url bf-display_name">第一资本水银</a>
                </div>
              </div>
            </div>
            <div class="bf-partner-label2">FEATURED合作伙伴</div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="homepage-columns">
    <div class="left-column-group bf_dom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="Column1 section bf_dom">
            <div class="section">
            <div class="content">
            <ul class="std-posts" id="page_flow">
            <li id="post-2817669" class=" post track bf_dom first  has-like-button bf_cts-1-1 bf_cts  scrolled_past">
              <article>
                <header>
                  <div class="thumb-unit bf_dom">
                    <a href="/krisandres/the-2013-most-trending-domestic-music-videos-on-yo-6qn0">
                      <div style="position:relative;">
                        <img class="thumb bf_dom " style="" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr07/11/13/the-2013-top-trending-music-videos-on-youtube-in--1-30363-1386788075-2.jpg" width="125" height="83" alt="">
                      </div>
                    </a>
                  </div>
                  <hgroup>
                    <h2 class="" style=""><a href="/krisandres/the-2013-most-trending-domestic-music-videos-on-yo-6qn0">2013年热门趋势音乐视频在YouTube上在不同的国家</a></h2>
                  </hgroup>
                </header>
                <p class="description " style="">
                  <b>因为世界上大多数国家不关心PSY，麦莉和凯蒂·佩里。</b>
                </p>
                <p class="small-meta">
                  <span class="generic-image icon"></span>
                  <a class="username notranslate" href="/krisandres">Kris Andres</a>
                  <span class="time-image icon"></span><span class="time-ago">一个小时前</span>
                  <a href="/krisandres/the-2013-most-trending-domestic-music-videos-on-yo-6qn0#responses" class="responses">
                    <span class="response-image icon"></span>
                    <span class="num">2</span> 回应
                  </a>
                </p>
              </article>
            </li>

            <li rel:gt_cat="[ttp]:feedtop5" id="post-2813813" class=" post track bf_dom   has-like-button bf_cts-1-2 bf_cts  scrolled_past" rel:bf_cts="1:2:2813813:buzz" rel:ptool="true" rel:advertiser="0" rel:partner="0" rel:owner="mbvd" rel:data="{&quot;buzz_id&quot;:&quot;2813813&quot;,&quot;type&quot;:&quot;super&quot;,&quot;uri&quot;:&quot;sacred-native-american-masks-auctioned-despite-plea-from-tri&quot;,&quot;form_id&quot;:&quot;20&quot;,&quot;verticals&quot;:[&quot;Breaking&quot;,&quot;UKFrontPageFlow&quot;,&quot;&quot;],&quot;category&quot;:&quot;Breaking&quot;}">
 <article>
    <header>
  
    
    <div class="thumb-unit bf_dom">
      
        
          <a rel:gtrack_id="post/photo" rel:gt_act="post/thumb" rel:gt_label="editor/mbvd" rel:gt_click="1" href="/mbvd/sacred-native-american-masks-auctioned-despite-plea-from-tri">
        
      

      
      

        
  <div style="position:relative;">
   <img class="thumb bf_dom " style="" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr07/11/22/us-charity-buys-sacred-native-american-masks-for--1-4413-1386820762-12.jpg" width="125" height="83" alt="">
    
  </div>
  


            
        </a>
      
    </div>

  <hgroup>
    
      <h2 class="" style=""><a rel:gtrack_id="post/title" rel:gt_act="post/title" rel:gt_label="editor/mbvd" rel:gt_click="2" href="/mbvd/sacred-native-american-masks-auctioned-despite-plea-from-tri"><font><font class="">美国慈善买进神圣的美洲土著面具530000美元要返回部落</font></font></a></h2>
  </hgroup>
  
  </header>

  
  
  
            <p class="description " style="">
     <b><font><font>一位法国拍卖行忽略这两个部落的要求和美国大使馆的呼吁推迟神圣的美洲土著面具拍卖和出售他们周一160万美元。</font></font></b>
     
        </p>
   
  

      




<p class="small-meta">
  
    <span class="generic-image icon"></span>
    <a rel:gtrack_id="post/meta/user/name" rel:gt_act="post/username" rel:gt_label="editor/mbvd" rel:gt_click="3" class="username notranslate" href="/mbvd">Michelle Broder Van Dyke</a>
  
    <span class="time-image icon"></span><span class="time-ago"><font><font>半小时前</font></font></span>
  
  
            <a rel:gtrack_id="post/meta/responses/responses" rel:gt_act="post/responses" rel:gt_label="editor/mbvd" rel:gt_click="3" href="/mbvd/sacred-native-american-masks-auctioned-despite-plea-from-tri#responses" class="responses">
        <span class="response-image icon"></span>
        <span class="num"><font><font>146</font></font></span><font><font>回应
      </font></font></a>  
  
  
</p>
  
  

  
  
  
 </article>
</li>

<li rel:gt_cat="[ttp]:feed" id="post-2818868" class=" post track bf_dom   has-like-button bf_cts-1-10 bf_cts  scrolled_past" rel:bf_cts="1:10:2818868:buzz" rel:ptool="true" rel:advertiser="0" rel:partner="0" rel:owner="mattlynley" rel:data="{&quot;buzz_id&quot;:&quot;2818868&quot;,&quot;type&quot;:&quot;super&quot;,&quot;uri&quot;:&quot;bill-gates-top-7-books-in-2013&quot;,&quot;form_id&quot;:&quot;20&quot;,&quot;verticals&quot;:[&quot;Books&quot;,&quot;BooksPageSplash&quot;,&quot;Business&quot;,&quot;BusinessFeature&quot;,&quot;Tech&quot;,&quot;UKFrontPageFlow&quot;,&quot;&quot;],&quot;category&quot;:&quot;Business&quot;}">
 <article>
    <header>
  
    
    <div class="thumb-unit bf_dom">
      
        
          <a rel:gtrack_id="post/photo" rel:gt_act="post/thumb" rel:gt_label="editor/mattlynley" rel:gt_click="1" href="/mattlynley/bill-gates-top-7-books-in-2013">
        
      

      
      

        
  <div style="position:relative;">
   <img class="thumb bf_dom " style="" rel:bf_bucket="progload" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr06/11/17/bill-gates-top-7-books-in-2013-1-14998-1386800697-15.jpg" width="125" height="83" alt="" rel:bf_image_src="/static/2013-12/campaign_images/webdr06/11/17/bill-gates-top-7-books-in-2013-1-14998-1386800697-15.jpg">
      
  </div>
  


            
        </a>
      
    </div>

  <hgroup>
    
      <h2 class="" style=""><a rel:gtrack_id="post/title" rel:gt_act="post/title" rel:gt_label="editor/mattlynley" rel:gt_click="2" href="/mattlynley/bill-gates-top-7-books-in-2013"><font><font>比尔·盖茨的前7图书2013年</font></font></a></h2>
  </hgroup>
  
  </header>

  
  
  
            <p class="description " style="">
     <b><font><font>世界上最富有的人了微软联合创始人和一个列出了他最喜欢读的一年。</font></font></b><font><font>注意：不是所有的人都出来了，2013年。
     
        </font></font></p>
   
  

      




<p class="small-meta">
  
    <span class="generic-image icon"></span>
    <a rel:gtrack_id="post/meta/user/name" rel:gt_act="post/username" rel:gt_label="editor/mattlynley" rel:gt_click="3" class="username notranslate" href="/mattlynley">Matthew Lynley</a>
  
    <span class="time-image icon"></span><span class="time-ago"><font><font>3小时前</font></font></span>
  
  
            <a rel:gtrack_id="post/meta/responses/responses" rel:gt_act="post/responses" rel:gt_label="editor/mattlynley" rel:gt_click="3" href="/mattlynley/bill-gates-top-7-books-in-2013#responses" class="responses">
        <span class="response-image icon"></span>
        <span class="num"><font><font>15</font></font></span><font><font>回应
      </font></font></a>  
  
  
</p>
  
  

  
  
  
 </article>
</li>

<li rel:gt_cat="[ttp]:feed" id="post-2818584" class=" post track bf_dom   has-like-button bf_cts-1-11 bf_cts  scrolled_past" rel:bf_cts="1:11:2818584:buzz" rel:ptool="true" rel:advertiser="0" rel:partner="0" rel:owner="leonoraepstein" rel:data="{&quot;buzz_id&quot;:&quot;2818584&quot;,&quot;type&quot;:&quot;super&quot;,&quot;uri&quot;:&quot;questions-elf-left-unanswered&quot;,&quot;form_id&quot;:&quot;20&quot;,&quot;verticals&quot;:[&quot;Entertainment&quot;,&quot;Rewind&quot;,&quot;UKFrontPageFlow&quot;,&quot;&quot;],&quot;category&quot;:&quot;Rewind&quot;}">
 <article>
    <header>
  
    
    <div class="thumb-unit bf_dom">
      
        
          <a rel:gtrack_id="post/photo" rel:gt_act="post/thumb" rel:gt_label="editor/leonoraepstein" rel:gt_click="1" href="/leonoraepstein/questions-elf-left-unanswered">
        
      

      
      

        
  <div style="position:relative;">
   <img class="thumb bf_dom " style="" rel:bf_bucket="progload" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr05/11/16/17-questions-elf-left-unanswered-1-32007-1386796595-9.jpg" width="125" height="83" alt="" rel:bf_image_src="/static/2013-12/campaign_images/webdr05/11/16/17-questions-elf-left-unanswered-1-32007-1386796595-9.jpg">
      
  </div>
  


            
        </a>
      
    </div>

  <hgroup>
    
      <h2 class="" style=""><a rel:gtrack_id="post/title" rel:gt_act="post/title" rel:gt_label="editor/leonoraepstein" rel:gt_click="2" href="/leonoraepstein/questions-elf-left-unanswered"><font><font class="">17问“小精灵”左未答复</font></font></a></h2>
  </hgroup>
  
  </header>

  
  
  
            <p class="description " style="">
     <b><font><font>一个人如何成长为节食糖浆和糖果玉米的健康成年男性？</font></font></b>
     
        </p>
   
  

      




<p class="small-meta">
  
    <span class="generic-image icon"></span>
    <a rel:gtrack_id="post/meta/user/name" rel:gt_act="post/username" rel:gt_label="editor/leonoraepstein" rel:gt_click="3" class="username notranslate" href="/leonoraepstein">Leonora Epstein</a>
  
    <span class="time-image icon"></span><span class="time-ago"><font><font>3小时前</font></font></span>
  
  
            <a rel:gtrack_id="post/meta/responses/responses" rel:gt_act="post/responses" rel:gt_label="editor/leonoraepstein" rel:gt_click="3" href="/leonoraepstein/questions-elf-left-unanswered#responses" class="responses">
        <span class="response-image icon"></span>
        <span class="num"><font><font>40</font></font></span><font><font>回应
      </font></font></a>  
  
  
</p>
  
  

  
  
  
 </article>
</li>
<li rel:gt_cat="[ttp]:feed" id="post-2815930" class=" post track bf_dom   has-like-button bf_cts-1-14 bf_cts  scrolled_past" rel:bf_cts="1:14:2815930:buzz" rel:ptool="true" rel:advertiser="0" rel:partner="0" rel:owner="kristinchirico" rel:data="{&quot;buzz_id&quot;:&quot;2815930&quot;,&quot;type&quot;:&quot;super-image&quot;,&quot;uri&quot;:&quot;10-signs-your-teams-season-has-gone-to-hell&quot;,&quot;form_id&quot;:&quot;24&quot;,&quot;verticals&quot;:[&quot;Sports&quot;,&quot;&quot;],&quot;category&quot;:&quot;Sports&quot;}">
 <article>
    <header>
  
    
    <div class="thumb-unit bf_dom">
      
        
          <a rel:gtrack_id="post/photo" rel:gt_act="post/thumb" rel:gt_label="editor/kristinchirico" rel:gt_click="1" href="/kristinchirico/10-signs-your-teams-season-has-gone-to-hell">
        
      

      
      

        
  <div style="position:relative;">
   <img class="thumb bf_dom " style="" rel:bf_bucket="progload" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr07/11/16/10-signs-your-teams-season-has-gone-to-hell-1-21063-1386797000-17.jpg" width="125" height="83" alt="" rel:bf_image_src="/static/2013-12/campaign_images/webdr07/11/16/10-signs-your-teams-season-has-gone-to-hell-1-21063-1386797000-17.jpg">
      
  </div>
  


            
        </a>
      
    </div>

  <hgroup>
    
      <h2 class="" style=""><a rel:gtrack_id="post/title" rel:gt_act="post/title" rel:gt_label="editor/kristinchirico" rel:gt_click="2" href="/kristinchirico/10-signs-your-teams-season-has-gone-to-hell"><font><font>10标志你的团队的季节已经到地狱</font></font></a></h2>
  </hgroup>
  
  </header>

  
  
  
            <p class="description " style="">
     <b><font><font>有你的季节去世应对可能是一个艰难的时刻。</font></font></b>
     
        </p>
   
  

      




<p class="small-meta">
  
    <span class="generic-image icon"></span>
    <a rel:gtrack_id="post/meta/user/name" rel:gt_act="post/username" rel:gt_label="editor/kristinchirico" rel:gt_click="3" class="username notranslate" href="/kristinchirico">Kristin Chirico</a>
  
    <span class="time-image icon"></span><span class="time-ago"><font><font>2小时前</font></font></span>
  
  
            <a rel:gtrack_id="post/meta/responses/responses" rel:gt_act="post/responses" rel:gt_label="editor/kristinchirico" rel:gt_click="3" href="/kristinchirico/10-signs-your-teams-season-has-gone-to-hell#responses" class="responses">
        <span class="response-image icon"></span>
        <span class="num"><font><font>10</font></font></span><font><font>回应
      </font></font></a>  
  
  
</p>
  
  

  
  
  
 </article>
</li>

<li rel:gt_cat="[ttp]:feed" id="post-2818925" class=" post track bf_dom   has-like-button bf_cts-1-15 bf_cts  scrolled_past" rel:bf_cts="1:15:2818925:buzz" rel:ptool="true" rel:advertiser="0" rel:partner="0" rel:owner="kmallikarjuna" rel:data="{&quot;buzz_id&quot;:&quot;2818925&quot;,&quot;type&quot;:&quot;super-image&quot;,&quot;uri&quot;:&quot;so-theres-a-new-original-character-in-mockingjay&quot;,&quot;form_id&quot;:&quot;24&quot;,&quot;verticals&quot;:[&quot;Entertainment&quot;,&quot;Geeky&quot;,&quot;UKFrontPageFlow&quot;,&quot;&quot;],&quot;category&quot;:&quot;Geeky&quot;}">
 <article>
    <header>
  
    
    <div class="thumb-unit bf_dom">
      
        
          <a rel:gtrack_id="post/photo" rel:gt_act="post/thumb" rel:gt_label="editor/kmallikarjuna" rel:gt_click="1" href="/kmallikarjuna/so-theres-a-new-original-character-in-mockingjay">
        
      

      
      

        
  <div style="position:relative;">
   <img class="thumb bf_dom " style="" rel:bf_bucket="progload" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr01/11/16/so-theres-a-new-original-character-in-mockingjay-1-19917-1386799086-8.jpg" width="125" height="83" alt="" rel:bf_image_src="/static/2013-12/campaign_images/webdr01/11/16/so-theres-a-new-original-character-in-mockingjay-1-19917-1386799086-8.jpg">
      
  </div>
  


            
        </a>
      
    </div>

  <hgroup>
    
      <h2 class="" style=""><a rel:gtrack_id="post/title" rel:gt_act="post/title" rel:gt_label="editor/kmallikarjuna" rel:gt_click="2" href="/kmallikarjuna/so-theres-a-new-original-character-in-mockingjay"><font><font>所以这是一个全新原装角色在“Mockingjay”</font></font></a></h2>
  </hgroup>
  
  </header>

  
  
  
            <p class="description " style="">
     <b><font><font>他的名字叫安，让我们八卦一下他像是一个完美的国会公民，我们是。</font></font></b><font><font>尾翼警报的</font></font><i><font><font>Mockingjay</font></font></i><font><font>的结局如果你还没有读过书。
     
        </font></font></p>
   
  

      




<p class="small-meta">
  
    <span class="generic-image icon"></span>
    <a rel:gtrack_id="post/meta/user/name" rel:gt_act="post/username" rel:gt_label="editor/kmallikarjuna" rel:gt_click="3" class="username notranslate" href="/kmallikarjuna">Krutika Mallikarjuna</a>
  
    <span class="time-image icon"></span><span class="time-ago"><font><font>2小时前</font></font></span>
  
  
            <a rel:gtrack_id="post/meta/responses/responses" rel:gt_act="post/responses" rel:gt_label="editor/kmallikarjuna" rel:gt_click="3" href="/kmallikarjuna/so-theres-a-new-original-character-in-mockingjay#responses" class="responses">
        <span class="response-image icon"></span>
        <span class="num"><font><font>30</font></font></span><font><font>回应
      </font></font></a>  
  
  
</p>
  
  

  
  
  
 </article>
</li>

<li rel:gt_cat="[ttp]:feed" id="post-2813225" class=" post track bf_dom   has-like-button bf_cts-1-16 bf_cts  scrolled_past" rel:bf_cts="1:16:2813225:buzz" rel:ptool="true" rel:advertiser="0" rel:partner="0" rel:owner="lyapalater" rel:data="{&quot;buzz_id&quot;:&quot;2813225&quot;,&quot;type&quot;:&quot;super&quot;,&quot;uri&quot;:&quot;photos-that-define-michael-cera&quot;,&quot;form_id&quot;:&quot;20&quot;,&quot;verticals&quot;:[&quot;Celebrity&quot;,&quot;&quot;],&quot;category&quot;:&quot;Celebrity&quot;}">
 <article>
    <header>
  
    
    <div class="thumb-unit bf_dom">
      
        
          <a rel:gtrack_id="post/photo" rel:gt_act="post/thumb" rel:gt_label="editor/lyapalater" rel:gt_click="1" href="/lyapalater/photos-that-define-michael-cera">
        
      

      
      

        
  <div style="position:relative;">
   <img class="thumb bf_dom " style="" rel:bf_bucket="progload" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr05/11/16/17-photos-that-define-michael-cera-1-32193-1386796518-3.jpg" width="125" height="83" alt="" rel:bf_image_src="/static/2013-12/campaign_images/webdr05/11/16/17-photos-that-define-michael-cera-1-32193-1386796518-3.jpg">
      
  </div>
  


            
        </a>
      
    </div>

  <hgroup>
    
      <h2 class="" style=""><a rel:gtrack_id="post/title" rel:gt_act="post/title" rel:gt_label="editor/lyapalater" rel:gt_click="2" href="/lyapalater/photos-that-define-michael-cera"><font><font>17照片定义迈克尔剑桥能源研究协会</font></font></a></h2>
  </hgroup>
  
  </header>

  
  
  
            <p class="description " style="">
     <b><font><font>他的存在</font></font><i><font><font>与</font></font></i><font><font>我们联系。</font></font></b>
     
        </p>
   
  

      




<p class="small-meta">
  
    <span class="generic-image icon"></span>
    <a rel:gtrack_id="post/meta/user/name" rel:gt_act="post/username" rel:gt_label="editor/lyapalater" rel:gt_click="3" class="username notranslate" href="/lyapalater">Lauren Yapalater</a>
  
    <span class="time-image icon"></span><span class="time-ago"><font><font>2小时前</font></font></span>
  
  
            <a rel:gtrack_id="post/meta/responses/responses" rel:gt_act="post/responses" rel:gt_label="editor/lyapalater" rel:gt_click="3" href="/lyapalater/photos-that-define-michael-cera#responses" class="responses">
        <span class="response-image icon"></span>
        <span class="num"><font><font>85</font></font></span><font><font>回应
      </font></font></a>  
  
  
</p>
  
  

  
  
  
 </article>
</li>
          </ul>
        </div>
      </div>
    </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="Column2 section bf_dom ">
              <div class="section sidebar_featured_unified" rel:gt_cat="[ttp]:middle-column/featured-vertical">
                <div id="big_stories_header" class="header">
                  <h1>
                    <font>
                      <font class="">热门新闻</font>
                    </font>
                  </h1>
                </div>
                <ul id="big_stories_container">
                  <li class="small-posts pinned bf_dom">
                    <div class="bf_dom bf_cts-5-1 bf_cts">
                      <a href="/jennaguillaume/reactions-as-high-court-throws-out-same-sex-marriages">
                        <img class="bf_dom pinned-image" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr03/11/23/26-angry-reactions-as-australias-high-court-throw-1-21288-1386823135-12_wide.jpg" alt="26愤怒的反应作为澳大利亚高等法院抛出了同性婚姻">
                      </a>
                      <h3>
                        <a href="/jennaguillaume/reactions-as-high-court-throws-out-same-sex-marriages">
                          <span>
                            <font>
                              <font>26愤怒的反应作为澳大利亚高等法院抛出了同性婚姻</font>
                            </font>
                          </span>
                        </a>
                      </h3>
                    </div>
                    <p class="small-meta">
                      <span class="generic-image icon"></span>
                      <a class="username notranslate" href="/jennaguillaume">Jenna Guillaume</a>
                      <span class="time-image icon"></span>
                      <span class="time-ago">
                        <font>
                          <font>一个小时前</font>
                        </font>
                      </span>
                      <a href="/jennaguillaume/reactions-as-high-court-throws-out-same-sex-marriages#responses" class="responses">
                        <span class="response-image icon"></span>
                        <span class="num">
                          <font>
                            <font>3</font>
                          </font>
                        </span>
                        <font>
                          <font>回应</font>
                        </font>
                      </a>  
                    </p>
                  </li>

                  <li class="small-posts pinned bf_dom   " rel:buzz_id="2813457" rel:data="{&quot;buzz_id&quot;:&quot;2813457&quot;,&quot;position&quot;:&quot;2&quot;,&quot;column&quot;:&quot;vertical&quot;}">
  

  <div class="bf_dom bf_cts-5-2 bf_cts" rel:data="{&quot;buzz_id&quot;:&quot;2813457&quot;}" rel:owner="evanmcsan" rel:bf_cts="5:2:2813457:buzz" rel:bf_bucket="track" track="{&quot;c&quot;:&quot;7BQ46G7&quot;,&quot;u&quot;:&quot;72DCFS7&quot;,&quot;buzz&quot;:&quot;pcccs-shameless-plan-to-take-over-the-world&quot;,&quot;user&quot;:&quot;evanmcsan&quot;,&quot;types&quot;:[],&quot;queries&quot;:[]}">
    <a href="/evanmcsan/pcccs-shameless-plan-to-take-over-the-world" rel:gt_act="post/thumb" rel:gt_label="editor/evanmcsan" track="{&quot;c&quot;:&quot;7BQ46G7&quot;,&quot;u&quot;:&quot;72DCFS7&quot;,&quot;buzz&quot;:&quot;pcccs-shameless-plan-to-take-over-the-world&quot;,&quot;user&quot;:&quot;evanmcsan&quot;,&quot;types&quot;:[],&quot;queries&quot;:[]}">
      <img class="bf_dom pinned-image" rel:bf_bucket="progload" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr02/11/23/one-progressive-groups-shameless-plan-to-take-ove-1-15289-1386822148-14_wide.jpg" rel:bf_image_src="/static/2013-12/campaign_images/webdr02/11/23/one-progressive-groups-shameless-plan-to-take-ove-1-15289-1386822148-14_wide.jpg" alt="一进集团的无耻计划接管世界" data-pinit="registered">
    </a>
    <h3>
      <a href="/evanmcsan/pcccs-shameless-plan-to-take-over-the-world" rel:gt_act="post/title" rel:gt_label="editor/evanmcsan" track="{&quot;c&quot;:&quot;7BQ46G7&quot;,&quot;u&quot;:&quot;72DCFS7&quot;,&quot;buzz&quot;:&quot;pcccs-shameless-plan-to-take-over-the-world&quot;,&quot;user&quot;:&quot;evanmcsan&quot;,&quot;types&quot;:[],&quot;queries&quot;:[]}"><span><font><font>一进集团的无耻计划接管世界</font></font></span></a>
    </h3>
  </div>
  
  
  
    
      
  
  




<p class="small-meta">
  
    <span class="generic-image icon"></span>
    <a rel:gtrack_id="post/meta/user/name" rel:gt_act="post/username" rel:gt_label="editor/evanmcsan" rel:gt_click="3" class="username notranslate" href="/evanmcsan">Evan McMorris-Santoro</a>
  
    <span class="time-image icon"></span><span class="time-ago"><font><font>3小时前</font></font></span>
  
  
            <a rel:gtrack_id="post/meta/responses/responses" rel:gt_act="post/responses" rel:gt_label="editor/evanmcsan" rel:gt_click="3" href="/evanmcsan/pcccs-shameless-plan-to-take-over-the-world#responses" class="responses">
        <span class="response-image icon"></span>
        <span class="num"><font><font>2</font></font></span><font><font>回应
      </font></font></a>  
  
  
</p>
    

</li>

<li class="small-posts pinned bf_dom   " rel:buzz_id="2818948" rel:data="{&quot;buzz_id&quot;:&quot;2818948&quot;,&quot;position&quot;:&quot;3&quot;,&quot;column&quot;:&quot;vertical&quot;}">
  

  <div class="bf_dom bf_cts-5-3 bf_cts" rel:data="{&quot;buzz_id&quot;:&quot;2818948&quot;}" rel:owner="hunterschwarz" rel:bf_cts="5:3:2818948:buzz" rel:bf_bucket="track" track="{&quot;c&quot;:&quot;7BQXU57&quot;,&quot;u&quot;:&quot;71CWHF7&quot;,&quot;buzz&quot;:&quot;life-was-hell-for-the-fox-reporter-who-faced-jail-time-for-p&quot;,&quot;user&quot;:&quot;hunterschwarz&quot;,&quot;types&quot;:[],&quot;queries&quot;:[]}">
    <a href="/hunterschwarz/life-was-hell-for-the-fox-reporter-who-faced-jail-time-for-p" rel:gt_act="post/thumb" rel:gt_label="editor/hunterschwarz" track="{&quot;c&quot;:&quot;7BQXU57&quot;,&quot;u&quot;:&quot;71CWHF7&quot;,&quot;buzz&quot;:&quot;life-was-hell-for-the-fox-reporter-who-faced-jail-time-for-p&quot;,&quot;user&quot;:&quot;hunterschwarz&quot;,&quot;types&quot;:[],&quot;queries&quot;:[]}">
      <img class="bf_dom pinned-image" rel:bf_bucket="progload" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr01/11/21/life-was-hell-for-the-fox-reporter-who-faced-jail-1-22365-1386815404-25_wide.jpg" rel:bf_image_src="/static/2013-12/campaign_images/webdr01/11/21/life-was-hell-for-the-fox-reporter-who-faced-jail-1-22365-1386815404-25_wide.jpg" alt="生活是地狱的福克斯记者们面对刑期为保护资源" data-pinit="registered">
    </a>
    <h3>
      <a href="/hunterschwarz/life-was-hell-for-the-fox-reporter-who-faced-jail-time-for-p" rel:gt_act="post/title" rel:gt_label="editor/hunterschwarz" track="{&quot;c&quot;:&quot;7BQXU57&quot;,&quot;u&quot;:&quot;71CWHF7&quot;,&quot;buzz&quot;:&quot;life-was-hell-for-the-fox-reporter-who-faced-jail-time-for-p&quot;,&quot;user&quot;:&quot;hunterschwarz&quot;,&quot;types&quot;:[],&quot;queries&quot;:[]}"><span><font><font>生活是地狱的福克斯记者们面对刑期为保护资源</font></font></span></a>
    </h3>
  </div>
  
  
  
    
      
  
  




<p class="small-meta">
  
    <span class="generic-image icon"></span>
    <a rel:gtrack_id="post/meta/user/name" rel:gt_act="post/username" rel:gt_label="editor/hunterschwarz" rel:gt_click="3" class="username notranslate" href="/hunterschwarz">Hunter Schwarz</a>
  
    <span class="time-image icon"></span><span class="time-ago"><font><font>2小时前</font></font></span>
  
  
            <a rel:gtrack_id="post/meta/responses/responses" rel:gt_act="post/responses" rel:gt_label="editor/hunterschwarz" rel:gt_click="3" href="/hunterschwarz/life-was-hell-for-the-fox-reporter-who-faced-jail-time-for-p#responses" class="responses">
        <span class="response-image icon"></span>
        <span class="num"><font><font>9</font></font></span><font><font>响应
      </font></font></a>  
  
  
</p>
    

</li>

<li class="small-posts pinned bf_dom   " rel:buzz_id="2819469" rel:data="{&quot;buzz_id&quot;:&quot;2819469&quot;,&quot;position&quot;:&quot;4&quot;,&quot;column&quot;:&quot;vertical&quot;}">
  

  <div class="bf_dom bf_cts-5-4 bf_cts" rel:data="{&quot;buzz_id&quot;:&quot;2819469&quot;}" rel:owner="passantino" rel:bf_cts="5:4:2819469:buzz" rel:bf_bucket="track" track="{&quot;c&quot;:&quot;7BR0NG7&quot;,&quot;u&quot;:&quot;734OFA7&quot;,&quot;buzz&quot;:&quot;international-space-station-cooling-system-fails-astronauts&quot;,&quot;user&quot;:&quot;passantino&quot;,&quot;types&quot;:[],&quot;queries&quot;:[]}">
    <a href="/passantino/international-space-station-cooling-system-fails-astronauts" rel:gt_act="post/thumb" rel:gt_label="editor/passantino" track="{&quot;c&quot;:&quot;7BR0NG7&quot;,&quot;u&quot;:&quot;734OFA7&quot;,&quot;buzz&quot;:&quot;international-space-station-cooling-system-fails-astronauts&quot;,&quot;user&quot;:&quot;passantino&quot;,&quot;types&quot;:[],&quot;queries&quot;:[]}">
      <img class="bf_dom pinned-image" rel:bf_bucket="progload" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr02/11/19/international-space-station-cooling-system-fails--1-26764-1386807558-0_wide.jpg" rel:bf_image_src="/static/2013-12/campaign_images/webdr02/11/19/international-space-station-cooling-system-fails--1-26764-1386807558-0_wide.jpg" alt="国际空间站冷却系统失败;宇航员安全" data-pinit="registered">
    </a>
    <h3>
      <a href="/passantino/international-space-station-cooling-system-fails-astronauts" rel:gt_act="post/title" rel:gt_label="editor/passantino" track="{&quot;c&quot;:&quot;7BR0NG7&quot;,&quot;u&quot;:&quot;734OFA7&quot;,&quot;buzz&quot;:&quot;international-space-station-cooling-system-fails-astronauts&quot;,&quot;user&quot;:&quot;passantino&quot;,&quot;types&quot;:[],&quot;queries&quot;:[]}"><span><font><font>国际空间站冷却系统失败;宇航员安全</font></font></span></a>
    </h3>
  </div>
  
  
  
    
      
  
  




<p class="small-meta">
  
    <span class="generic-image icon"></span>
    <a rel:gtrack_id="post/meta/user/name" rel:gt_act="post/username" rel:gt_label="editor/passantino" rel:gt_click="3" class="username notranslate" href="/passantino">Jon Passantino</a>
  
    <span class="time-image icon"></span><span class="time-ago"><font><font>10小时前</font></font></span>
  
  
            <a rel:gtrack_id="post/meta/responses/responses" rel:gt_act="post/responses" rel:gt_label="editor/passantino" rel:gt_click="3" href="/passantino/international-space-station-cooling-system-fails-astronauts#responses" class="responses">
        <span class="response-image icon"></span>
        <span class="num"><font><font>6</font></font></span><font><font>回应
      </font></font></a>  
  
  
</p>
    

</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-2">
            <div class="Column3 section bf_dom">
<div class="section">
  <div class="header big-header">
    <h1>
      <a href="http://fre.sh"><img src="http://s3-ak.buzzfed.com/static/images/public/fresh-logo.png" style="width:65px;height:17px"></a><span style="color:black;font-size:18px;"><font><font>在网络上</font></font></span>
    </h1>
    <div class="notch"></div>
  </div>

  <div class="hp-fresh-post-list">
    
      
      
      

      <a href="http://fre.sh/h/Z7lUxx2rs1" class="hp-fresh-post has_image">
        <img class="thumb" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/crondr01/11/16/17-things-that-happen-when-youve-been-friends-w-1-16420-1386799047-79_wide.jpg">
        <h2><font><font>
          17发生的事情，当你是朋友与他人的，从字面上看，自从
           </font></font><span class="more-link"><font><font>上thoughtcatalog.com&gt;</font></font></span>
        </h2>
      </a>
    
      
      
      

      <a href="http://fre.sh/h/01A6F4h5hT" class="hp-fresh-post no_image" rel:gt_act="post/title" rel:gt_label="partner/http://teamcoco.com/video/ice-cube-kevin-hart-conan-share-lyft">
        
        <h2><font><font>
          冰块，凯文·哈特，和柯南股A Lyft Car@TeamCoco.com
           </font></font><span class="more-link"><font><font>上teamcoco.com&gt;</font></font></span>
        </h2>
      </a>
    
      
      
      

      <a href="http://fre.sh/h/XssVkiO_bj" class="hp-fresh-post has_image" rel:gt_act="post/title" rel:gt_label="partner/http://www.collegehumor.com/article/6943815/6-super-hot-sex-moves-from-pg-13-movies">
        <img class="thumb" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/crondr01/11/20/6-super-hot-sex-moves-from-pg-13-movies-1-2563-1386810524-263_wide.jpg">
        <h2><font><font>
          6超热性移动从PG-13级电影
           </font></font><span class="more-link"><font><font>的collegehumor.com&gt;</font></font></span>
        </h2>
      </a>
    
      
      
      

      <a href="http://fre.sh/h/dnzHeL2fJi" class="hp-fresh-post has_image" rel:gt_act="post/title" rel:gt_label="partner/http://www.theonion.com/articles/gun-laws-passed-this-year,34806/">
        <img class="thumb" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/crondr01/11/20/gun-laws-passed-this-year-1-2563-1386810272-208_wide.jpg">
        <h2><font><font>
          今年通过枪支法
           </font></font><span class="more-link"><font><font>上theonion.com&gt;</font></font></span>
        </h2>
      </a>
    
      
      
      

      <a href="http://fre.sh/h/k8kcGwsMgm" class="hp-fresh-post has_image" rel:gt_act="post/title" rel:gt_label="partner/http://thoughtcatalog.com/abigail-cardinal/2013/12/26-signs-youve-lived-in-madison-wisconsin/">
        <img class="thumb" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/crondr01/11/21/26-signs-youve-lived-in-madison-wisconsin-1-15276-1386817036-73_wide.jpg">
        <h2><font><font>
          26标志你住在威斯康星州麦迪逊市
           </font></font><span class="more-link"><font><font>的thoughtcatalog.com&gt;</font></font></span>
        </h2>
      </a>
    
      
      
      

      <a href="http://fre.sh/h/YNRQqbKLSJ" class="hp-fresh-post has_image" rel:gt_act="post/title" rel:gt_label="partner/http://hollywoodlife.com/2013/12/11/jamie-dornan-naked-fifty-shades-of-grey-full-frontal/">
        <img class="thumb" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/crondr01/11/22/jamie-dornan-naked-in-fifty-shades-of-grey-mdas-1-21709-1386820505-35_wide.jpg">
        <h2><font><font>
          杰米·多南裸体在“五十深浅灰色' -全正面基督教
           </font></font><span class="more-link"><font><font>的hollywoodlife.com&gt;</font></font></span>
        </h2>
      </a>
    
      
      
      

      <a href="http://fre.sh/h/LT2Rji5W0m" class="hp-fresh-post has_image" rel:gt_act="post/title" rel:gt_label="partner/http://thoughtcatalog.com/chelsea-fagan/2013/12/24-rules-for-being-a-lady-in-2014/">
        <img class="thumb" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/crondr01/11/15/24-rules-for-being-a-lady-in-2014-1-9985-1386795408-79_wide.jpg">
        <h2><font><font>
          24规则，作为一个夫人2014年
           </font></font><span class="more-link"><font><font>在thoughtcatalog.com&gt;</font></font></span>
        </h2>
      </a>
    
      
      
      

      <a href="http://fre.sh/h/gRt4X8JUsJ" class="hp-fresh-post no_image" rel:gt_act="post/title" rel:gt_label="partner/http://thinkprogress.org/security/2013/12/11/3036671/2013-certainly-year-human-history/">
        
        <h2><font><font>
          5原因2013年是最好的年份在人类历史
           </font></font><span class="more-link"><font><font>上thinkprogress.org&gt;</font></font></span>
        </h2>
      </a>
    
      
      
      

      <a href="http://fre.sh/h/AGkZ8m6V6i" class="hp-fresh-post has_image" rel:gt_act="post/title" rel:gt_label="partner/http://www.theonion.com/articles/do-you-believe-in-god,34800/">
        <img class="thumb" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/crondr01/11/12/do-you-believe-in-god-1-16485-1386784775-94_wide.jpg">
        <h2><font><font>
          你相信神？
           </font></font><span class="more-link"><font><font>上theonion.com&gt;</font></font></span>
        </h2>
      </a>
    
      
      
      

      <a href="http://fre.sh/h/k_j1xDi_Y9" class="hp-fresh-post no_image" rel:gt_act="post/title" rel:gt_label="partner/http://www.people.com/people/article/0,,20764701,00.html">
        
        <h2><font><font>
          塔耶迪格斯＆Idina门泽尔分割
           </font></font><span class="more-link"><font><font>上people.com&gt;</font></font></span>
        </h2>
      </a>
    
      
  </div>
  

  <div class="hp-more-fresh">
    <a href="http://fre.sh"><font><font>Fre.sh </font></font></a><span><font><font>：从网络上最好的网站上升最快的故事</font></font></span>
  </div>

  <div class="block_footer">
    <a rel:gt_act="go-to-fresh" href="http://fre.sh"><font><font>退房日期Fre.sh&gt;</font></font></a>
  </div>
</div>


<div class="section block sidebar_top_posts hot_homepage_block hot_on_video" rel:gt_cat="[ttp]:sidebar/hotOnVideo">
  <div class="block_header">
    <div class="hot_on">HOT on</div>
    <div class="hot_on_video_logo"></div>
  </div>
  <div class="content hot_list">
      <ol>
                        
        
        
    
        

          
                    <li class="top bf_dom bf_cts-0-1 bf_cts" rel:bf_cts="0:1:2807897:buzz" rel:bf_bucket="track" track="{&quot;c&quot;:&quot;7BPA5C7&quot;,&quot;u&quot;:&quot;735M3G7&quot;,&quot;buzz&quot;:&quot;12-surprising-facts-about-amazoncom&quot;,&quot;user&quot;:&quot;tlo27&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}" id="promoted-2807897">
            <div class="ie-hot-unit"></div>
            <a rel:gt_act="post/thumb" rel:gt_label="editor/tlo27" href="/video/tlo27/12-surprising-facts-about-amazoncom" class="image-wrapper" track="{&quot;c&quot;:&quot;7BPA5C7&quot;,&quot;u&quot;:&quot;735M3G7&quot;,&quot;buzz&quot;:&quot;12-surprising-facts-about-amazoncom&quot;,&quot;user&quot;:&quot;tlo27&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}">
              <img class="thumb bf_dom" rel:bf_bucket="progload" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr01/7/15/12-surprising-facts-about-amazoncom-1-14050-1386446951-3_wide.jpg" rel:bf_image_src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr01/7/15/12-surprising-facts-about-amazoncom-1-14050-1386446951-3_wide.jpg" width="336" height="125" alt="">
            </a>
            <div class="trend">
              <div class="video_play_icon">
                <img class="black" src="http://s3-ak.buzzfeed.com/static/images/public/videopage/play_icon.png">
                <img class="red" src="http://s3-ak.buzzfeed.com/static/images/public/videopage/play_icon_red.png" style="display: none; z-index: 24;">
              </div>
            </div>
            <h2>
              <a rel:gt_act="post/title" rel:gt_label="editor/tlo27" href="/video/tlo27/12-surprising-facts-about-amazoncom" track="{&quot;c&quot;:&quot;7BPA5C7&quot;,&quot;u&quot;:&quot;735M3G7&quot;,&quot;buzz&quot;:&quot;12-surprising-facts-about-amazoncom&quot;,&quot;user&quot;:&quot;tlo27&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}">12 Surprising Facts About Amazon.com</a>
            </h2> 

          </li>
                            
    
        

          
                    <li class="bf_dom bf_cts-0-2 bf_cts" rel:bf_cts="0:2:2815956:buzz" rel:bf_bucket="track" track="{&quot;c&quot;:&quot;7BQHOD7&quot;,&quot;u&quot;:&quot;7232PH7&quot;,&quot;buzz&quot;:&quot;are-you-right-or-left-brained&quot;,&quot;user&quot;:&quot;micaela&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}" id="promoted-2815956">
            <div class="ie-hot-unit"></div>
            <a rel:gt_act="post/thumb" rel:gt_label="editor/micaela" href="/video/micaela/are-you-right-or-left-brained" class="image-wrapper" track="{&quot;c&quot;:&quot;7BQHOD7&quot;,&quot;u&quot;:&quot;7232PH7&quot;,&quot;buzz&quot;:&quot;are-you-right-or-left-brained&quot;,&quot;user&quot;:&quot;micaela&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}">
              <img class="thumb bf_dom" rel:bf_bucket="progload" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr07/10/14/are-you-right-or-left-brained-1-26858-1386704639-23_wide.jpg" rel:bf_image_src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr07/10/14/are-you-right-or-left-brained-1-26858-1386704639-23_wide.jpg" width="336" height="125" alt="">
            </a>
            <div class="trend">
              <div class="video_play_icon">
                <img class="black" src="http://s3-ak.buzzfeed.com/static/images/public/videopage/play_icon.png">
                <img class="red" src="http://s3-ak.buzzfeed.com/static/images/public/videopage/play_icon_red.png" style="display: none; z-index: 24;">
              </div>
            </div>
            <h2>
              <a rel:gt_act="post/title" rel:gt_label="editor/micaela" href="/video/micaela/are-you-right-or-left-brained" track="{&quot;c&quot;:&quot;7BQHOD7&quot;,&quot;u&quot;:&quot;7232PH7&quot;,&quot;buzz&quot;:&quot;are-you-right-or-left-brained&quot;,&quot;user&quot;:&quot;micaela&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}">Are You Right-Brained Or Left-Brained?</a>
            </h2> 

          </li>
                            
    
        

          
                    <li class="bf_dom bf_cts-0-3 bf_cts" rel:bf_cts="0:3:2813624:buzz" rel:bf_bucket="track" track="{&quot;c&quot;:&quot;7BQ52X7&quot;,&quot;u&quot;:&quot;72XB7A7&quot;,&quot;buzz&quot;:&quot;7-things-we-wish-dad-would-stop-doing&quot;,&quot;user&quot;:&quot;bobbymiller&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}" id="promoted-2813624">
            <div class="ie-hot-unit"></div>
            <a rel:gt_act="post/thumb" rel:gt_label="editor/bobbymiller" href="/video/bobbymiller/7-things-we-wish-dad-would-stop-doing" class="image-wrapper" track="{&quot;c&quot;:&quot;7BQ52X7&quot;,&quot;u&quot;:&quot;72XB7A7&quot;,&quot;buzz&quot;:&quot;7-things-we-wish-dad-would-stop-doing&quot;,&quot;user&quot;:&quot;bobbymiller&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}">
              <img class="thumb bf_dom" rel:bf_bucket="progload" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr07/10/13/7-things-we-wish-dad-would-stop-doing-1-18190-1386700219-5_wide.jpg" rel:bf_image_src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr07/10/13/7-things-we-wish-dad-would-stop-doing-1-18190-1386700219-5_wide.jpg" width="336" height="125" alt="">
            </a>
            <div class="trend">
              <div class="video_play_icon">
                <img class="black" src="http://s3-ak.buzzfeed.com/static/images/public/videopage/play_icon.png">
                <img class="red" src="http://s3-ak.buzzfeed.com/static/images/public/videopage/play_icon_red.png" style="display: none; z-index: 24;">
              </div>
            </div>
            <h2>
              <a rel:gt_act="post/title" rel:gt_label="editor/bobbymiller" href="/video/bobbymiller/7-things-we-wish-dad-would-stop-doing" track="{&quot;c&quot;:&quot;7BQ52X7&quot;,&quot;u&quot;:&quot;72XB7A7&quot;,&quot;buzz&quot;:&quot;7-things-we-wish-dad-would-stop-doing&quot;,&quot;user&quot;:&quot;bobbymiller&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}">7 Things We Wish Dad Would Stop Doing</a>
            </h2> 

          </li>
                            
      </ol>
  </div>
  
  <div class="block_footer">
    <a rel:gt_act="hot-on-videos" href="/video">More Videos ›</a>
  </div>

</div>

<footer class="PageFooter footer" rel:gt_cat="[ttp]:footer">


  <ul class="footer-main-menu sidebar-footer-main-menu">
    <li><a rel:gt_act="advertise" href="/advertise"><font><font>广告</font></font></a></li>
    <li><a rel:gt_act="jobs" href="/about/jobs"><font><font>工作机会</font></font></a></li>
    <li><a rel:gt_act="mobile" href="/tools/mobile-ios"><font><font>移动</font></font></a></li>
    <li><a rel:gt_act="newsletters" href="/tools/email"><font><font>简讯</font></font></a></li>
  </ul>


  
<div class="country_switch country-toggle bf_dom" rel:bf_bucket_data="{'country_switch_menu':{}}"><font><font>
  美国版
   </font></font><span class="unicode"><font><font>▼</font></font></span>
  <div class="country_switch_menu country-toggle-menu" style="display:none;">
    <a class="bf_dom" rel:bf_bucket_data="{'country_switch':{ 'r': '/?country=us' }}"><font><font>美国版</font></font></a>
    <a class="bf_dom" rel:bf_bucket_data="{'country_switch':{ 'r': '/?country=uk' }}"><font><font>英国版</font></font></a>
    <a class="bf_dom" rel:bf_bucket_data="{'country_switch':{ 'r': '/?country=br' }}"><font><font>巴西</font></font></a>
    <a class="bf_dom" rel:bf_bucket_data="{'country_switch':{ 'r': '/?country=es' }}"><font><font>西班牙语</font></font></a>
    <a class="bf_dom" rel:bf_bucket_data="{'country_switch':{ 'r': '/?country=fr' }}"><font><font>法国</font></font></a>
  </div>
</div>

  <ul class="footer-sub-menu sidebar-footer-sub-menu">
    <li class="sub-menu-top"><a rel:gt_act="about" href="/about"><font><font>关于</font></font></a></li>
    <li><a rel:gt_act="press" href="/press"><font><font>按</font></font></a></li>
    <li><a rel:gt_act="rss" href="/tools/more"><font><font>RSS</font></font></a></li>
    <li><a rel:gt_act="privacy" href="/about/privacy"><font><font>法律</font></font></a></li>
    <li><a rel:gt_act="faq" href="/help/faq"><font><font>帮助</font></font></a></li>
    <li><a rel:gt_act="contact" href="/about/contact"><font><font>联系</font></font></a></li>
  </ul>

  <div class="footer-copyright">
    <div class="footer-copyright-text"><font><font>©2013 BuzzFeed，公司</font></font></div>
    <a rel:gt_act="made-in-nyc" class="made-in-nyc" href="http://wearemadeinny.com/"></a>
  </div>



<!--  -->

</footer>


</div>

          </div>
        


        </div>
      </div>
    </div>

</div>




  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>