{% extends 'snippet/layout.html' %}

{% block main %}
<div class="col-xs-12 col-md-8">
  <div class="Column1 section bf_dom">
    <div class="section">
      <div class="content">
        <article id="post-394774" class="entry-common clearfix">

          <div class="entry-header">

            <h1 class="entry-name yahei">
              <a href="http://www.ifanr.com/394774" rel="bookmark" title="Permalink to 让盲人看宇宙：3D 打印立体图像">相信你也多少会在电视和媒体上看过哈勃拍摄的宇宙和地球的照片</a>
            </h1>

          </div>

          <div class="entry-meta">
            2014-1-10, 11:16&nbsp;|&nbsp;
            <a href="http://www.ifanr.com/author/cuiqiwen" title="Posts by 崔绮雯" rel="author">崔绮雯</a>
          </div>

          <div id="share_toolbar_wrapper" style="position: static; top: auto; z-index: 9999;">
  <div id="share_toolbar">
    <div class="stb_group" id="stb_article_view" title="本文围观次数">
      <span id="stb_article_view_icon"></span>
      <span id="stb_view_count">201</span>
    </div>
    <div class="stb_divide"></div>
    <div data="{'url':'<?php the_permalink()?>'}" class="bdshare_t bds_tools get-codes-bdshare stb_group stb_share_buttons" id="bdshare">
      <a href="javascript:void(0);" id="stb_btn_weibo" class="bds_tsina" title="分享到新浪微博"></a>
      <a href="javascript:void(0);" id="stb_btn_tqq" class="bds_tqq" title="分享到腾讯微博"></a>
      <a href="javascript:void(0);" id="stb_btn_qzone_small" class="bds_qzone" title="分享到QQ空间"></a>
      <a href="javascript:void(0);" id="stb_btn_renren_small" class="bds_renren" title="分享到人人网"></a>
      <span id="stb_btn_more" class="bds_more"><span id="stb_sbtn_more_icon"></span></span>
      <a href="javascript:void(0);" class="shareCount"></a>
    </div>
    <!--修改下一行的百度分享ID-->
    <script type="text/javascript" id="bdshare_js" data="type=button&uid=12345" ></script>
    <script type="text/javascript" id="bdshell_js"></script>
    <script type="text/javascript">
      document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
    </script>
    <div class="stb_divide"></div>
    <div class="stb_share_buttons stb_group">
      <!-- 前一篇 -->

        <a id="stb_btn_prev" href="" title=""></a>

      <!-- 下一篇 -->

        <a id="stb_btn_next" href="" title=""></a>
    </div>
    <div class="stb_group_right">

      <div class="bdlikebutton stb_like_btn bdlikebutton-blue bdlikebutton-small bdlikebutton-small-blue">
        <div class="bdlikebutton-inner">
          <span class="bdlikebutton-add"></span>
          <div class="bdlikebutton"></div>
          <div class="bdlikebutton-count">
            <!-- 处理百度like按钮点击和like数量 -->
            <script id="bdlike_shell" type="text/javascript"></script>
            <script type="text/javascript">
            var bdShare_config = {
              "type":"small",
              "color":"blue",
              "uid":"12345",//修改为你自己的百度分享id
              "likeText":"喜欢",
              "likedText":"已赞过"
            };
            document.getElementById("bdlike_shell").src="http://bdimg.share.baidu.com/static/js/like_shell.js?t=" + new Date().getHours();
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

          <div id="entry-content" class="entry-content">
            <p>
              <a href="http://cdn.ifanr.cn/wp-content/uploads/2014/01/189-1.jpg" rel="lightbox[394774]" title="">
                <img class="aligncenter size-full wp-image-394778" alt="189-1" src="http://cdn.ifanr.cn/wp-content/uploads/2014/01/189-1.jpg" width="568" height="375" data-pinit="registered"></a>
            </p>
            <p>
              无论你是否听过哈勃空间望远镜的介绍，相信你也多少会在电视和媒体上看过哈勃拍摄的宇宙和地球的照片——那可能是人类能够看到最震撼的照片之一了。遗憾的是，盲人、视力情况不太好的人们无福欣赏地球和宇宙的壮观景致。
            </p>
            <p>
              但通过 3D 打印技术，他们也能“摸”到这样的美景了！
              <a href="http://hubblesite.org/newscenter/archive/releases/2014/03/image/b/">Hubblesite 称</a>
              ，他们已经与 3D 打印机厂商 Makerbot 合作，将 2D 照片的 3D 建模，把图像变成可触摸凹凸感的塑料图片，让视力不好的人们也可以“用手”一睹美景。又是一单 3D 打印让人生活更美好的案例。
            </p>
            <p>
              <span id="more-394774"></span>
            </p>
            <p>
              目前，这些凹凸感的图片已经能够清晰展示 NGC 602 星云，附近的星星和宇宙中的星尘。这些形状基本由圆圈、点和线组成，根据 2D 图片上的不同区域的亮度而高度不一。
            </p>
            <p>
              目前展出的 3D 星云图一推出就受到众多盲人们的欢迎。有使用者表示，这些 3D 图片让他们感觉非常好，以前对于他们来说是无法接触的宇宙空间和星星，现在可以很直观第感受到。虽然这些 3D 图片无法替代真实的相片，但你也可以运用你的想象，对宇宙和星星的形象有一个大致的了解。
            </p>
            <p>
              <a href="http://cdn.ifanr.cn/wp-content/uploads/2014/01/3d-printing-hubble-2013-01-08-01.jpg" rel="lightbox[394774]" title="">
                <img class="aligncenter size-full wp-image-394779" alt="3d-printing-hubble-2013-01-08-01" src="http://cdn.ifanr.cn/wp-content/uploads/2014/01/3d-printing-hubble-2013-01-08-01.jpg" width="568" height="392" data-pinit="registered"></a>
            </p>
            <p>
              而美国盲人协会的教育总监对 3D 打印的前景十分看好：“3D 打印并不专门针对盲人的科技，很多人都需要并且想要使用 3D 打印机，这是盲人科技类产品的一种思路——不需要完全是为盲人开发，但也可为盲人所用。”
            </p>
            <p>
              同理，这种 3D 打印图片并非只适用于盲人，试想想，某天你到野外去看星星，虽然他们看着像是平面的物体，但若你手中有一张 3D 的星星图片，你还可以用手感受那颗星星的纹理，形状，以及周边的卫星。这对于视力正常的普通人来说，也是一种绝佳的体验。
            </p>
            <p>
              这个项目还会继续进行，参与制作 3D 模型的 Christian 和 Nota 的
              <a href="http://www.engadget.com/2014/01/09/3d-printing-allows-blind-to-see-hubble-images/">长远目标是</a>
              ，批量制作该类型的 3D 宇宙空间图片，并且在线上开源，让学校、图书馆和其他公共设施都可以自行打印图片，做学习和公益使用。
            </p>
            <p>也许有一天你可以看到哈勃望远镜拍摄的壮观图像，按下按钮，你就可以将星星握在手中。</p>
            <p>
              题图来自：
              <a href="http://www.kdatu.com/2013/12/14/nasa-2013-1/" data-ved="0CAQQjB0">kdatu.com</a>
            </p>
          </div>

          <div id="ifr-article-component" class="m-t-10 clearfix">
            <div class="clearfix"></div>
            <div class="entry-meta-tags">
              标签：
              <a href="http://www.ifanr.com/tags/3d-%e6%89%93%e5%8d%b0" rel="tag">3D 打印</a>
              <a href="http://www.ifanr.com/tags/%e5%ae%87%e5%ae%99" rel="tag">宇宙</a>
              <a href="http://www.ifanr.com/tags/%e7%9b%b2%e4%ba%ba" rel="tag">盲人</a>
            </div>
            <div class="author-profile weixin-qrcode clearfix">

              <div class="author-profile-face clearfix">
                <img class="gravatar" src="http://cdn.ifanr.cn/wp-content/uploads/2013/08/114.jpg" width="50" height="50"></div>

              <div class="author-profile-text">
                <h2 class="yahei">
                  <a href="http://www.ifanr.com/author/hezongcheng">何宗丞</a>
                </h2>
                <p>新媒介的拥趸，相信“ 媒介即讯息 ”，关注媒介技术的力量。</p>
              </div>

              <div class="author-profile-qrcode JS_ShowDropdown">
                <img src="http://cdn.ifanr.cn/wp-content/uploads/2013/02/jasonho.jpeg" width="50" style="max-width:50px;">
                <div class="dropdown-area">
                  <span class="arrow arrow-bottom submenu-arrow submenu-arrow-above"></span>
                  <span class="arrow arrow-bottom submenu-arrow"></span>
                  <span class="top-padding"></span>
                  <dl>
                    <dd class="t-c">
                      <a href="#">扫描关注何宗丞</a>
                    </dd>
                    <dd>
                      <a class="ab-item" tabindex="-1" href="#">
                        <img alt="" src="http://cdn.ifanr.cn/wp-content/uploads/2013/02/jasonho.jpeg" class="avatar avatar-64 photo" width="120" style="max-width:120px;" data-pinit="registered"></a>
                    </dd>
                  </dl>
                </div>
              </div>

              <div class="author-profile-list clearfix">
                <dl class="clearfix">

                  <dd>
                    <a rel="external" href="mailto:hezongcheng1025@gmail.com" target="_blank">邮箱</a>
                  </dd>

                  <dd>
                    <a rel="external" href="http://twitter.com/hezongcheng" target="_blank">Twitter</a>
                  </dd>

                  <dd>
                    <a rel="external" href="http://weibo.com/hezongcheng" target="_blank">新浪微博</a>
                  </dd>

                  <dd>
                    <a rel="external" href="https://plus.google.com/118051041556695317207" target="_blank">Google+</a>
                  </dd>

                </dl>
              </div>

            </div>

          </div>

          <!-- Duoshuo Comment BEGIN -->
          <div class="ds-thread"></div>
          <script type="text/javascript">
var duoshuoQuery = {short_name:"mifantv"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
    || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
          <!-- Duoshuo Comment END --> </article>

      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-4">
  <div class="Column2 section bf_dom ">
    <div class="section sidebar_featured_unified">

      <ul id="big_stories_container">
        {% for hot in hots.list %}
        <li class="small-posts pinned bf_dom">
          <div class="bf_dom bf_cts-5-1 bf_cts">
            <a href="/p/{{ hot.id }}">
              <img class="bf_dom pinned-image" src="{{ hot.cover }}" alt="{{ hot.title }}"></a>
            <h3>
              <a href="/p/{{ hot.id }}">
                <span> <font><font>{{ hot.title }}</font></font> 
                </span>
              </a>
            </h3>
          </div>
          <p class="small-meta">
            <span class="generic-image icon"></span>
            <a class="username notranslate" href="#">{{ hot.author_username }}</a>
            <span class="time-image icon"></span>
            <span class="time-ago">
              <font><font>{{ hot.created|pretty_date }}</font></font> 
            </span>
            <a href="#" class="responses">
              <span class="response-image icon"></span>
              <span class="num">
                <font>
                  <font>{{ hot.comment_count }}</font>
                </font>
              </span>
              <font>
                <font>回应</font>
              </font>
            </a>
          </p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}