<!DOCTYPE html>
<html xmlns:wb=“http://open.weibo.com/wb”>
<head>
  <title>米饭</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">

  <!-- mifan css -->
  <link rel="stylesheet" href="/static/css/mifan.css">
  <link rel="stylesheet" href="/static/css/navbar.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="stylesheet" href="/static/css/post.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="VerticalSection">
  <header class="navbar navbar-inverse mf-nav" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="../" class="navbar-brand"></a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li>
            <a href="../getting-started">新闻</a>
          </li>
          <li>
            <a href="../css">娱乐</a>
          </li>
          <li>
            <a href="../components">生活</a>
          </li>
          <li>
            <a href="../javascript">视频</a>
          </li>
          <li>
            <a href="../customize">更多</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="../about">登入</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="PageContainer c container" id="page_container" style="margin-top: 30px;">
    <div class="PageContent section Culture  bf_dom row">

      <div class="Content Page bf_dom col-xs-12 col-md-8">
        <article class="c  bf_dom">
          <div class="bf_dom">
            <div class="buzz no-border bf_dom c">
              <header id="post-2831135" class="post2 super_format  bf_dom c">
                <div id="buzz_header">
                  <hgroup>
                    <h1 id="post-title">微博评论者和艺术家们应对中国的登月</h1>
                    <p class="description"> <b>中国的航天器是第一个登上月球自1976年以来，微博喜欢画他们的粉丝的艺术</b>
                      <span class="buzz_datetime">
                        posted on
                        <time datetime="2013-12-16T20:15:47Z">张贴在 2013年12月16日在下午6:20 EST</time>
                      </span>
                    </p>
                  </hgroup>
                  <div class="c user-bg">
                    <div class="meta c">
                      <div class="user-info ">
                        <a class="user-avatar" rel:gt_act="user/avatar" rel:gt_label="editor/kevintang" href="/kevintang">
                          <img src="http://s3-ak.buzzfeed.com/static/user_images/webdr03/2013/2/6/14/kevintang-30736-1360178667-9_large.jpg" alt="" nopin="nopin"></a>
                        <div class="user-info-info">
                          <a data-print="author" rel:gt_act="user/username" rel:gt_label="editor/kevintang" class="user-name notranslate" href="/kevintang" rel="author">Kevin Tang</a>
                          <span class="author_title"> <font><font>BuzzFeed员工</font></font> 
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="share_control" class="bf_dom">
                  <div class="horizontal-share-buttons upper-share-buttons c blue-bg bf_dom">
                    <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone"></a><a href="#" class="bds_tsina" data-cmd="tsina"></a><a href="#" class="bds_tqq" data-cmd="tqq"></a><a href="#" class="bds_renren" data-cmd="renren"></a><a href="#" class="bds_t163" data-cmd="t163"></a><a href="#" class="bds_more" data-cmd="more"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","t163"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","t163"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];</script>
                  </div>
                </div>
              </header>
              <div>
                <div id="buzz_sub_buzz" class="c suplist_none suplist_list_hide">
                  <div class="buzz_superlist_item buzz_superlist_item_image  buzz_superlist_item_wide image_hit " id="superlist_2831672_2154502">
                    <div class="sub_buzz_content">
                      <img src="http://s3-ec.buzzfed.com/static/2013-12/enhanced/webdr07/11/12/enhanced-buzz-13736-1386781995-29.jpg" class="bf_dom" width="625" height="494" alt="餐垫离合器"></div>
                  </div>
                </div>
              </div>
              <section class="c bottom_shares">
                <div class="bf_dom">
                  <div class="referrer_shares">
                    <div class=" bottom-share-buttons  blue-bg bf_dom">
                      <wb:share-button addition="number" type="button"></wb:share-button>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div id="next_on" class="next_on_entertainment">
            <ul>
              <li id="next_on_1">
                <div class="leftPage">
                  <a href="/robinedds/which-game-of-thrones-character-are-you">
                    <img class="bf_dom" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr07/16/8/which-game-of-thrones-character-are-you-1-29137-1387201876-11_wide.jpg" alt="" ></a>
                  <a href="/entertainment" class="vertical_title_sprite">&nbsp;</a>
                </div>
                <div class="bf_dom rightPage">
                  <a href="/entertainment">
                    <span>
                      Next On Entertainment
                      <span class="next_arrow">›</span>
                    </span>
                  </a>
                  <a href="/robinedds/which-game-of-thrones-character-are-you">
                    <h3>Which "Game Of Thrones" Character Are You?...</h3>
                  </a>
                </div>
              </li>
            </ul>
          </div>

          <div id="social-actions" class="section SocialActions social-actions social-actions-hybrid">

            <div class="social-actions-buttons c">

              <div id="badge_voting" class="social-buttons badge-voting left  ">

                <div id="reaction_1_love_hate" class="reactions_one badge_heart">

                  <div id="reactions-normal">

                    <h5>
                      <font><font>你的反应是什么？</font></font> 
                    </h5>

                    <ul class="reactions">
                      <li id="love_button" class="love">
                        <a id="love-button-2818644" href="javascript:;" class="vote-love_or_hate">
                          <span class="heart vote-love_or_hate" id="vote-love_or_hate-1575196"></span>
                        </a>

                        <span class="badge-vote-count" id="love-reaction-count">
                          <font>
                            <font>65</font>
                          </font>
                        </span>
                      </li>

                      <li id="omg_button" class="omg   us_reactions">

                        <span class="reaction_normal">
                          <a href="javascript:;" class="vote-badge " id="vote-badge-5943393">
                            <font>
                              <font>OMG</font>
                            </font>
                          </a>
                          <span class="badge-vote-count" id="14-reaction-count">
                            <font>
                              <font>2</font>
                            </font>
                          </span>
                        </span>

                      </li>

                      <li id="classic_button" class="classic   us_reactions">

                        <span class="reaction_normal">
                          <a href="javascript:;" class="vote-badge " id="vote-badge-875385">
                            <font>
                              <font>旧</font>
                            </font>
                          </a>
                          <span class="badge-vote-count zero" id="19-reaction-count">
                            <font>
                              <font>0</font>
                            </font>
                          </span>
                        </span>

                      </li>

                      <li id="wtf_button" class="wtf   us_reactions">

                        <span class="reaction_normal">
                          <a href="javascript:;" class="vote-badge " id="vote-badge-5931992">
                            <font>
                              <font>WTF</font>
                            </font>
                          </a>
                          <span class="badge-vote-count zero" id="13-reaction-count">
                            <font>
                              <font>0</font>
                            </font>
                          </span>
                        </span>

                      </li>

                      <li id="lol_button" class="lol   us_reactions">

                        <span class="reaction_normal">
                          <a href="javascript:;" class="vote-badge " id="vote-badge-348978">
                            <font>
                              <font>LOL</font>
                            </font>
                          </a>
                          <span class="badge-vote-count" id="12-reaction-count">
                            <font>
                              <font>2</font>
                            </font>
                          </span>
                        </span>

                      </li>

                      <li id="cute_button" class="cute   us_reactions">

                        <span class="reaction_normal">
                          <a href="javascript:;" class="vote-badge " id="vote-badge-6264426">
                            <font>
                              <font>可爱的</font>
                            </font>
                          </a>
                          <span class="badge-vote-count" id="16-reaction-count">
                            <font>
                              <font>15</font>
                            </font>
                          </span>
                        </span>

                      </li>

                      <li id="win_button" class="win   us_reactions">

                        <span class="reaction_normal">
                          <a rhref="javascript:;" class="vote-badge " id="vote-badge-9956750">
                            <font>
                              <font>赢</font>
                            </font>
                          </a>
                          <span class="badge-vote-count" id="47-reaction-count">
                            <font>
                              <font>9</font>
                            </font>
                          </span>
                        </span>

                      </li>

                      <li id="fail_button" class="fail   us_reactions">

                        <span class="reaction_normal">
                          <a href="javascript:;" class="vote-badge " id="vote-badge-6113372">
                            <font>
                              <font>失败</font>
                            </font>
                          </a>
                          <span class="badge-vote-count" id="49-reaction-count">
                            <font>
                              <font>2</font>
                            </font>
                          </span>
                        </span>

                      </li>

                      <li id="trashy_button" class="trashy   us_reactions">

                        <span class="reaction_normal">
                          <a href="javascript:;" class="vote-badge  longer" id="vote-badge-3673188">
                            <font>
                              <font>没用</font>
                            </font>
                          </a>
                          <span class="badge-vote-count zero" id="17-reaction-count">
                            <font>
                              <font>0</font>
                            </font>
                          </span>
                        </span>

                      </li>

                      <li id="ew_button" class="ew   us_reactions">

                        <span class="reaction_normal">
                          <a href="javascript:;" class="vote-badge " id="vote-badge-7682863">
                            <font>
                              <font>EW</font>
                            </font>
                          </a>
                          <span class="badge-vote-count" id="27-reaction-count">
                            <font>
                              <font>2</font>
                            </font>
                          </span>
                        </span>

                      </li>

                      <li id="hate_button" class="hate">
                        <a href="javascript:;" class="vote-love_or_hate" id="vote-love_or_hate-1643201">
                          <span class="heart vote-love_or_hate" id="vote-love_or_hate-2797701"></span>
                        </a>

                        <span class="badge-vote-count zero" id="hate-reaction-count">
                          <font>
                            <font>0</font>
                          </font>
                        </span>
                      </li>

                    </ul>

                  </div>
                </div>

              </div>

            </div>

          </div>
        </article>
      </div>

      <div class="Column2 col-xs-12 col-md-4">
        <div id="infinite-sidebar-ab">

          <!-- X---NOW-BUZZING---X -@- /plugin/nowbuzzing/v:1.0 -->

          <div class="section block" rel:gt_cat="[ttp]:sidebar/now-buzzing">
            <div class="vertical-info-banner">
              <span class="text">
                <font>
                  <font>现在嗡嗡</font>
                </font>
              </span>
              <div class="notch"></div>
            </div>
            <div class="content">
              <ul>

                <li class="post sidebar-post  top bf_dom sidebar-post-wide" rel:bf_bucket="track" track="{&quot;c&quot;:&quot;7BSHZ07&quot;,&quot;u&quot;:&quot;73WCJI7&quot;,&quot;buzz&quot;:&quot;one-picture-that-perfectly-describes-your-netflix-account&quot;,&quot;user&quot;:&quot;rachelzarrell&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}" id="promoted-one-picture-that-perfectly-describes-your-netflix-account">
                  <script type="text/javascript">
              document.write('\
                <a href="/rachelzarrell/one-picture-that-perfectly-describes-your-netflix-account" rel:gt_act="buzzing/thumb">\
                  <div style="float:left; position:relative;">\
                    <img src="http://s3-ak.buzzfeed.com/static/images/public/backgrounds/trans.gif" rel:bf_image_src="http://s3-ec.buzzfed.com' + sel_promo.image_wide + '" class="bf_dom thumb" rel:bf_bucket="progload" alt="" />\
                  </div>\
                </a>\
                <a class="qe editor-admin" style="display:none" rel:data=\'{"buzz_id":"2829341"}\'></a>\
                <h2>\
                  <a href="/rachelzarrell/one-picture-that-perfectly-describes-your-netflix-account" rel:gt_act="buzzing/title">' + sel_promo.title + '</a>\
                </h2>\
                ');
            </script>
                  <a href="/rachelzarrell/one-picture-that-perfectly-describes-your-netflix-account" rel:gt_act="buzzing/thumb">
                    <div style="float:left; position:relative;">
                      <img src="http://s3-ec.buzzfed.com/static/2013-12/campaign_images/webdr01/15/16/one-picture-that-perfectly-describes-your-netflix-1-18479-1387142835-27_wide.jpg" rel:bf_image_src="http://s3-ec.buzzfed.com/static/2013-12/campaign_images/webdr01/15/16/one-picture-that-perfectly-describes-your-netflix-1-18479-1387142835-27_wide.jpg" class="bf_dom thumb" rel:bf_bucket="progload" alt="" nopin="nopin" data-pinit="registered"></div>
                  </a>
                  <a class="qe editor-admin" style="display:none" rel:data="{&quot;buzz_id&quot;:&quot;2829341&quot;}"></a>
                  <h2>
                    <a href="/rachelzarrell/one-picture-that-perfectly-describes-your-netflix-account" rel:gt_act="buzzing/title">
                      <font>
                        <font>一个画面，完美地描述你的共享的Netflix帐户</font>
                      </font>
                    </a>
                  </h2>
                </li>

                <li class="post sidebar-post  bf_dom sidebar-post-wide" rel:bf_bucket="track" track="{&quot;c&quot;:&quot;7BQ3L27&quot;,&quot;u&quot;:&quot;74EPFJ7&quot;,&quot;buzz&quot;:&quot;21-bachelor-pad-tricks-that-will-up-your-game-ha4g&quot;,&quot;user&quot;:&quot;homepolish&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}" id="promoted-21-bachelor-pad-tricks-that-will-up-your-game-ha4g">
                  <a href="/homepolish/21-bachelor-pad-tricks-that-will-up-your-game-ha4g" rel:gt_act="buzzing/thumb">
                    <div style="float:left; position:relative;">
                      <img src="http://s3-ec.buzzfed.com/static/2013-12/campaign_images/webdr03/16/14/21-bachelor-pad-tricks-that-will-up-your-game-1-23566-1387221384-36_wide.jpg" rel:bf_image_src="http://s3-ec.buzzfed.com/static/2013-12/campaign_images/webdr03/16/14/21-bachelor-pad-tricks-that-will-up-your-game-1-23566-1387221384-36_wide.jpg" class="bf_dom thumb" rel:bf_bucket="progload" alt="" nopin="nopin" data-pinit="registered"></div>
                  </a>
                  <a class="qe editor-admin" style="display:none" rel:data="{&quot;buzz_id&quot;:&quot;2813347&quot;}"></a>
                  <h2>
                    <a href="/homepolish/21-bachelor-pad-tricks-that-will-up-your-game-ha4g" rel:gt_act="buzzing/title">
                      <font>
                        <font>21学士垫技巧，将你的游戏</font>
                      </font>
                    </a>
                  </h2>
                </li>

                <li class="bf-widget post sidebar-post bf_cts bf_cts-4-1" rel:bf_cts="4:3:0:adslot" style="display: block;" id="BF_WIDGET_6" rel:bf_ad_position="6">
                  <div id="bf-item-6-1" class="bf-item">
                    <div class="partner-sash" title="伙伴"></div>
                    <a rel:gt_act="dfp/thumb" rel:gt_label="partner" href="http://www.usatoday.com/story/sports/ncaaf/2013/12/14/texas-football-coach-opening-mike-gundy-jimbo-fisher/4012495/" class="bf-url" rel:gtrack_id="dfp_ad">
                      <img class="bf-image-widestory campaign-wide-thumb" src="http://s3-ak.buzzfed.com/static/2013-12/campaign_images/crondr01/15/20/who-might-be-texas-next-football-coach-1-16086-1387155696-154_wide.jpg" width="338" height="119" nopin="nopin" data-pinit="registered"></a>
                    <h2 class="bf-item-title">
                      <a href="http://www.usatoday.com/story/sports/ncaaf/2013/12/14/texas-football-coach-opening-mike-gundy-jimbo-fisher/4012495/" class="bf-url bf-name" rel:gtrack_id="dfp_ad" rel:bf_truncate="100" rel:gt_act="dfp/title" rel:gt_label="partner">
                        <font>
                          <font>谁可能是得克萨斯州的下一个足球教练？</font>
                        </font>
                      </a>
                    </h2>
                  </div>
                  <script type="text/javascript" async="" src="http://ct-ak.buzzfed.com/wd/UserWidget?u=boost&amp;u=&amp;large_images=1&amp;co=&amp;flex_medium=&amp;network=buzzfeed&amp;bids=&amp;tame=1&amp;uo=1&amp;or=v&amp;ct=1&amp;cs=1&amp;wid=6&amp;cb=1387289014186"></script>
                </li>

                <li class="post sidebar-post  bf_dom sidebar-post-wide" rel:bf_bucket="track" track="{&quot;c&quot;:&quot;7BRQUW7&quot;,&quot;u&quot;:&quot;72SK947&quot;,&quot;buzz&quot;:&quot;things-every-college-kid-wants-for-christmas-this-year&quot;,&quot;user&quot;:&quot;erinchack&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}" id="promoted-things-every-college-kid-wants-for-christmas-this-year">
                  <a href="/erinchack/things-every-college-kid-wants-for-christmas-this-year" rel:gt_act="buzzing/thumb">
                    <div style="float:left; position:relative;">
                      <img src="http://s3-ec.buzzfed.com/static/2013-12/campaign_images/webdr05/16/14/19-things-every-college-kid-wants-for-christmas-t-1-24763-1387222259-18_wide.jpg" rel:bf_image_src="http://s3-ec.buzzfed.com/static/2013-12/campaign_images/webdr05/16/14/19-things-every-college-kid-wants-for-christmas-t-1-24763-1387222259-18_wide.jpg" class="bf_dom thumb" rel:bf_bucket="progload" alt="" nopin="nopin" data-pinit="registered"></div>
                  </a>
                  <a class="qe editor-admin" style="display:none" rel:data="{&quot;buzz_id&quot;:&quot;2824321&quot;}"></a>
                  <h2>
                    <a href="/erinchack/things-every-college-kid-wants-for-christmas-this-year" rel:gt_act="buzzing/title">
                      <font>
                        <font>19事情每个大学的孩子想在今年圣诞节</font>
                      </font>
                    </a>
                  </h2>
                </li>

                <li class="post sidebar-post  bf_dom sidebar-post-wide" rel:bf_bucket="track" track="{&quot;c&quot;:&quot;7BSQK67&quot;,&quot;u&quot;:&quot;728PUC7&quot;,&quot;buzz&quot;:&quot;hairstyles-every-00s-girl-had&quot;,&quot;user&quot;:&quot;ailbhemalone&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}" id="promoted-hairstyles-every-00s-girl-had">
                  <a href="/ailbhemalone/hairstyles-every-00s-girl-had" rel:gt_act="buzzing/thumb">
                    <div style="float:left; position:relative;">
                      <img src="http://s3-ec.buzzfed.com/static/2013-12/campaign_images/webdr06/17/4/19-hairstyles-every-00s-girl-dreamed-of-having-1-6246-1387271156-10_wide.jpg" rel:bf_image_src="http://s3-ec.buzzfed.com/static/2013-12/campaign_images/webdr06/17/4/19-hairstyles-every-00s-girl-dreamed-of-having-1-6246-1387271156-10_wide.jpg" class="bf_dom thumb" rel:bf_bucket="progload" alt="" nopin="nopin" data-pinit="registered"></div>
                  </a>
                  <a class="qe editor-admin" style="display:none" rel:data="{&quot;buzz_id&quot;:&quot;2830931&quot;}"></a>
                  <h2>
                    <a href="/ailbhemalone/hairstyles-every-00s-girl-had" rel:gt_act="buzzing/title">
                      <font>
                        <font>19发型每00秒女孩梦想自己有</font>
                      </font>
                    </a>
                  </h2>
                </li>

                <li class="post sidebar-post  bf_dom sidebar-post-wide" rel:bf_bucket="track" track="{&quot;c&quot;:&quot;7BSVMR7&quot;,&quot;u&quot;:&quot;7S6LM7&quot;,&quot;buzz&quot;:&quot;this-guy-spent-the-last-month-dressing-up-like-local-realtor&quot;,&quot;user&quot;:&quot;ryanhatesthis&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}" id="promoted-this-guy-spent-the-last-month-dressing-up-like-local-realtor">
                  <a href="/ryanhatesthis/this-guy-spent-the-last-month-dressing-up-like-local-realtor" rel:gt_act="buzzing/thumb">
                    <div style="float:left; position:relative;">
                      <img src="http://s3-ec.buzzfed.com/static/2013-12/campaign_images/webdr01/16/18/this-guy-spent-the-last-month-dressing-up-like-lo-1-11982-1387236194-11_wide.jpg" rel:bf_image_src="http://s3-ec.buzzfed.com/static/2013-12/campaign_images/webdr01/16/18/this-guy-spent-the-last-month-dressing-up-like-lo-1-11982-1387236194-11_wide.jpg" class="bf_dom thumb" rel:bf_bucket="progload" alt="" nopin="nopin" data-pinit="registered"></div>
                  </a>
                  <a class="qe editor-admin" style="display:none" rel:data="{&quot;buzz_id&quot;:&quot;2831870&quot;}"></a>
                  <h2>
                    <a href="/ryanhatesthis/this-guy-spent-the-last-month-dressing-up-like-local-realtor" rel:gt_act="buzzing/title">
                      <font>
                        <font>这家伙花了近一个月穿衣戴帽像当地房地产经纪人和粘贴自己交给他们的板凳广告</font>
                      </font>
                    </a>
                  </h2>
                </li>

                <li class="post sidebar-post  bf_dom sidebar-post-wide" rel:bf_bucket="track" track="{&quot;c&quot;:&quot;7BIYIO7&quot;,&quot;u&quot;:&quot;72T25P7&quot;,&quot;buzz&quot;:&quot;shocking-and-unexpected-facts-you-learn-in-your-twenties&quot;,&quot;user&quot;:&quot;regajha&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}" id="promoted-shocking-and-unexpected-facts-you-learn-in-your-twenties">
                  <a href="/regajha/shocking-and-unexpected-facts-you-learn-in-your-twenties" rel:gt_act="buzzing/thumb">
                    <div style="float:left; position:relative;">
                      <img src="http://s3-ec.buzzfed.com/static/2013-12/campaign_images/webdr02/16/17/27-shocking-and-unexpected-facts-you-learn-in-you-1-26919-1387232990-22_wide.jpg" rel:bf_image_src="http://s3-ec.buzzfed.com/static/2013-12/campaign_images/webdr02/16/17/27-shocking-and-unexpected-facts-you-learn-in-you-1-26919-1387232990-22_wide.jpg" class="bf_dom thumb" rel:bf_bucket="progload" alt="" nopin="nopin" data-pinit="registered"></div>
                  </a>
                  <a class="qe editor-admin" style="display:none" rel:data="{&quot;buzz_id&quot;:&quot;2765753&quot;}"></a>
                  <h2>
                    <a href="/regajha/shocking-and-unexpected-facts-you-learn-in-your-twenties" rel:gt_act="buzzing/title">
                      <font>
                        <font>27令人震惊和意外的事实，你了解在你二十几岁</font>
                      </font>
                    </a>
                  </h2>
                </li>

                <li class="post sidebar-post  bf_dom sidebar-post-wide" rel:bf_bucket="track" track="{&quot;c&quot;:&quot;7BSTWJ7&quot;,&quot;u&quot;:&quot;7YM0L7&quot;,&quot;buzz&quot;:&quot;supercut-of-paul-rudd-playing-the-same-prank-on-conan-obrien&quot;,&quot;user&quot;:&quot;whitneyjefferson&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}" id="promoted-supercut-of-paul-rudd-playing-the-same-prank-on-conan-obrien">
                  <a href="/whitneyjefferson/supercut-of-paul-rudd-playing-the-same-prank-on-conan-obrien" rel:gt_act="buzzing/thumb">
                    <div style="float:left; position:relative;">
                      <img src="http://s3-ec.buzzfed.com/static/2013-12/campaign_images/webdr05/16/15/heres-a-supercut-of-paul-rudd-playing-the-same-pr-1-2211-1387224344-9_wide.jpg" rel:bf_image_src="http://s3-ec.buzzfed.com/static/2013-12/campaign_images/webdr05/16/15/heres-a-supercut-of-paul-rudd-playing-the-same-pr-1-2211-1387224344-9_wide.jpg" class="bf_dom thumb" rel:bf_bucket="progload" alt="" nopin="nopin" data-pinit="registered"></div>
                  </a>
                  <a class="qe editor-admin" style="display:none" rel:data="{&quot;buzz_id&quot;:&quot;2831550&quot;}"></a>
                  <h2>
                    <a href="/whitneyjefferson/supercut-of-paul-rudd-playing-the-same-prank-on-conan-obrien" rel:gt_act="buzzing/title">
                      <font>
                        <font>这里有一个SUPERCUT保罗陆克文玩同样的恶作剧科南奥布莱恩多年</font>
                      </font>
                    </a>
                  </h2>
                </li>

                <li class="post sidebar-post  bf_dom sidebar-post-wide" rel:bf_bucket="track" track="{&quot;c&quot;:&quot;7BSU3X7&quot;,&quot;u&quot;:&quot;72WRP57&quot;,&quot;buzz&quot;:&quot;shia-labeouf-rip-off-daniel-clowes-howard-cantour&quot;,&quot;user&quot;:&quot;jordanzakarin&quot;,&quot;types&quot;:[100],&quot;queries&quot;:[]}" id="promoted-shia-labeouf-rip-off-daniel-clowes-howard-cantour">
                  <a href="/jordanzakarin/shia-labeouf-rip-off-daniel-clowes-howard-cantour" rel:gt_act="buzzing/thumb">
                    <div style="float:left; position:relative;">
                      <img src="http://s3-ec.buzzfed.com/static/2013-12/campaign_images/webdr07/17/8/shia-labeouf-apologizes-for-failing-to-credit-art-1-7548-1387288662-24_wide.jpg" rel:bf_image_src="http://s3-ec.buzzfed.com/static/2013-12/campaign_images/webdr07/17/8/shia-labeouf-apologizes-for-failing-to-credit-art-1-7548-1387288662-24_wide.jpg" class="bf_dom thumb" rel:bf_bucket="progload" alt="" nopin="nopin" data-pinit="registered"></div>
                  </a>
                  <a class="qe editor-admin" style="display:none" rel:data="{&quot;buzz_id&quot;:&quot;2831588&quot;}"></a>
                  <h2>
                    <a href="/jordanzakarin/shia-labeouf-rip-off-daniel-clowes-howard-cantour" rel:gt_act="buzzing/title">
                      <font>
                        <font>希安拉博夫道歉未能信用艺术家丹尼尔柯罗威斯为他的新电影短片</font>
                      </font>
                    </a>
                  </h2>
                </li>

              </ul>
            </div>
            <div class="footer" style="margin-bottom: 35px;">
              <a class="button2" rel:gt_act="buzzing/more-buzz" href="/">
                <font>
                  <font>更多讯息&gt;</font>
                </font>
              </a>
            </div>
            <script type="text/javascript">
    var promoted_switch = function() {
      if( typeof(promoted_match) != 'undefined' && $(promoted_match) ) {
        $(promoted_match).hide();
        $('promoted-extra-hidden').show();
      }
    }
    promoted_switch();
  </script>
          </div>

          <!-- UNIT:Nowbuzzing generated on  9: 0:0, 12/17/2013 -->

          <div id="infinite-sidebar-container" class="section block" rel:gt_cat="[ttp]:sidebar/infinite-sidebar">
            <div class="content">
              <ul id="infinite-sidebar" rel:plugin_version="1.0"></ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <footer class="PageFooter footer simple-footer" rel:gt_cat="[ttp]:footer">
      <div class="simple-footer-container">
        <a rel:gt_act="made-in-nyc" class="made-in-nyc" href="http://wearemadeinny.com/"></a>

        <ul class="footer-main-menu">
          <li>
            <a rel:gt_act="advertise" href="/advertise">
              <font>
                <font>广告</font>
              </font>
            </a>
          </li>
          <li>
            <a rel:gt_act="jobs" href="/about/jobs">
              <font>
                <font>工作机会</font>
              </font>
            </a>
          </li>
          <li>
            <a rel:gt_act="mobile" href="/tools/mobile-ios">
              <font>
                <font>移动</font>
              </font>
            </a>
          </li>
          <li>
            <a rel:gt_act="newsletters" href="/tools/email">
              <font>
                <font>简讯</font>
              </font>
            </a>
          </li>
          <li>
            <div class="country_switch country-toggle bf_dom" rel:bf_bucket_data="{'country_switch_menu':{}}">
              <font>
                <font>美国版</font>
              </font>
              <span class="unicode">
                <font>
                  <font>▼</font>
                </font>
              </span>
              <div class="country_switch_menu country-toggle-menu" style="display:none;">
                <a class="bf_dom" rel:bf_bucket_data="{'country_switch':{ 'r': '/?country=us' }}">
                  <font>
                    <font>美国版</font>
                  </font>
                </a>
                <a class="bf_dom" rel:bf_bucket_data="{'country_switch':{ 'r': '/?country=uk' }}">
                  <font>
                    <font>英国版</font>
                  </font>
                </a>
                <a class="bf_dom" rel:bf_bucket_data="{'country_switch':{ 'r': '/?country=br' }}">
                  <font>
                    <font>巴西</font>
                  </font>
                </a>
                <a class="bf_dom" rel:bf_bucket_data="{'country_switch':{ 'r': '/?country=es' }}">
                  <font>
                    <font>西班牙语</font>
                  </font>
                </a>
                <a class="bf_dom" rel:bf_bucket_data="{'country_switch':{ 'r': '/?country=fr' }}">
                  <font>
                    <font>法国</font>
                  </font>
                </a>
              </div>
            </div>
          </li>
        </ul>

        <ul class="footer-sub-menu">
          <li>
            <a rel:gt_act="about" href="/about">
              <font>
                <font>关于</font>
              </font>
            </a>
          </li>
          <li>
            <a rel:gt_act="press" href="/press">
              <font>
                <font>按</font>
              </font>
            </a>
          </li>
          <li>
            <a rel:gt_act="rss" href="/tools/more">
              <font>
                <font>RSS</font>
              </font>
            </a>
          </li>
          <li>
            <a rel:gt_act="privacy" href="/about/privacy">
              <font>
                <font>法律</font>
              </font>
            </a>
          </li>
          <li>
            <a rel:gt_act="faq" href="/help/faq">
              <font>
                <font>帮助</font>
              </font>
            </a>
          </li>
          <li>
            <a rel:gt_act="contact" href="/about/contact">
              <font>
                <font>联系</font>
              </font>
            </a>
          </li>
          <li>
            <font>
              <font>©2013 BuzzFeed，公司</font>
            </font>
          </li>
        </ul>
      </div>
    </footer>

  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>