<!DOCTYPE html>
<html xmlns:wb=“http://open.weibo.com/wb”>
<head>
  <title>米饭</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">

  <!-- mifan css -->
  <link rel="stylesheet" href="/static/css/mifan.css">
  <link rel="stylesheet" href="/static/css/navbar.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="stylesheet" href="/static/css/post.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="VerticalSection">
  <header class="navbar navbar-inverse mf-nav" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="../" class="navbar-brand"></a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li>
            <a href="../getting-started">新闻</a>
          </li>
          <li>
            <a href="../css">娱乐</a>
          </li>
          <li>
            <a href="../components">生活</a>
          </li>
          <li>
            <a href="../javascript">视频</a>
          </li>
          <li>
            <a href="../customize">更多</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="../about">登入</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="PageContainer c container" id="page_container" style="margin-top: 30px;">
    <div class="PageContent section Culture  bf_dom row">

        <div class="Content Page bf_dom col-xs-12 col-md-8">
          <article class="c  bf_dom">
            <div class="bf_dom">
              <div class="buzz no-border bf_dom c">
                <header id="post-2831135" class="post2 super_format  bf_dom c">
                  <div id="buzz_header">
                    <hgroup>
                      <h1 id="post-title">微博评论者和艺术家们应对中国的登月</h1>
                      <p class="description">
                        <b>中国的航天器是第一个登上月球自1976年以来，微博喜欢画他们的粉丝的艺术</b>
                        <span class="buzz_datetime">posted on  <time datetime="2013-12-16T20:15:47Z">张贴在 2013年12月16日在下午6:20 EST</time></span>
                      </p>
                    </hgroup>
                    <div class="c user-bg">
                      <div class="meta c">
                        <div class="user-info ">
                          <a class="user-avatar" rel:gt_act="user/avatar" rel:gt_label="editor/kevintang" href="/kevintang">
                            <img src="http://s3-ak.buzzfeed.com/static/user_images/webdr03/2013/2/6/14/kevintang-30736-1360178667-9_large.jpg" alt="" nopin="nopin">
                          </a>
                          <div class="user-info-info">
                            <a data-print="author" rel:gt_act="user/username" rel:gt_label="editor/kevintang" class="user-name notranslate" href="/kevintang" rel="author">
                              Kevin Tang
                            </a>
                            <span class="author_title">
                              <font>
                                <font>BuzzFeed员工</font>
                              </font>
                            </span>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div id="share_control" class="bf_dom">
                  <div class="horizontal-share-buttons upper-share-buttons c blue-bg bf_dom">
                    <wb:share-button addition="number" type="button"></wb:share-button>
                  </div>
                </div>
                </header>
                <div>
                  <div id="buzz_sub_buzz" class="c suplist_none suplist_list_hide">
                    <div class="buzz_superlist_item buzz_superlist_item_image  buzz_superlist_item_wide image_hit " id="superlist_2831672_2154502">
                      <div class="sub_buzz_content">
                        <img src="http://s3-ec.buzzfed.com/static/2013-12/enhanced/webdr06/16/16/enhanced-buzz-31009-1387229041-20.jpg">
                      </div>
                    </div>
                  </div>
                </div>
                <section class="c bottom_shares">
                  <div class="bf_dom">
                    <div class="referrer_shares">
                      <div class=" bottom-share-buttons  blue-bg bf_dom">
                        <wb:share-button addition="number" type="button"></wb:share-button>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <div id="next_on" class="next_on_entertainment">
              <ul>
                <li id="next_on_1" rel:buzz_id="2817867">
                  <div class="leftPage">
                    <a href="/robinedds/which-game-of-thrones-character-are-you">
                      <img class="bf_dom" src="http://s3-ak.buzzfeed.com/static/2013-12/campaign_images/webdr07/16/8/which-game-of-thrones-character-are-you-1-29137-1387201876-11_wide.jpg" alt="" >
                    </a>
                    <a href="/entertainment" class="vertical_title_sprite">&nbsp;</a>
                  </div>
                  <div class="bf_dom rightPage">
                    <a href="/entertainment">
                      <span> Next On Entertainment 
                        <span class="next_arrow">›</span>
                      </span>
                    </a>
                    <a href="/robinedds/which-game-of-thrones-character-are-you">
                      <h3>Which "Game Of Thrones" Character Are You?...</h3>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </article>
        </div>
  </div>

  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>